.gst-label {
    display: inline-block;
    padding: 4px 12px;
    background-color: #3698f4;  
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
    border-radius: 12px;
    margin-left: 10px;
    vertical-align: middle;
    text-align: center;
}

.gst-amount-label {
    display: inline-block;
    padding: 4px 12px;
    background-color: #3698f4;  
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
    border-radius: 12px;
    margin-left: 10px;
    vertical-align: middle;
    text-align: center;
}