<div class="grid">
    <div class="col-4">
        <div class="p-5" id="SendingForApprovalDialog_Image">
            <img src="/assets/broker/images/icons/verified.png" width="150px" alt="">
        </div>
    </div>
    <div class="col-8">
        <div class="flex align-items-center mb-3" id="SendingForApprovalDialog_Note">
            <img class="mr-2" src="/assets/broker/images/icons/smiling-face.png" alt="">Hurray,Your Placement slip is approved
        </div>
        <div class="mb-5">

            <h2 class="mb-3" id="SendingForApprovalDialog_SuccessFullMSG"><b>Your Placement slip is approved</b></h2>
            <!-- <div class="mb-5">
                <i class="pi pi-info-circle mr-2" id="SendingForApprovalDialog_Icon"></i>
                <h3 class="inline-block"  id="SendingForApprovalDialog_SentForApproval">
                    <b>Your quote is sent for approval</b> 
                </h3>
            </div> -->
        </div>
        <div class="mb-5">
            <button pButton type="button" id="SendingForApprovalDialog_Close" label="Go to Dashboard" class="p-button-success py-3 px-5" (click)="close()"></button>
        </div>


    </div>
</div>
