.currency::first-letter {
    padding-right: 0.3em;
}

:host ::ng-deep .tblz01-pdf .custom-border .p-datatable .p-datatable-thead>tr>th {
    border-top: 1px solid #0462BC;
    //  border-top: 1px solid red;
}

.page-break {
    page-break-before: always;
  }

  .tableRev {
    border-collapse: collapse;
    width: 100%;
}

.tableRev th, .tableRev td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tableRev th {
    background-color: #f2f2f2;
}
.wrap-text {
    word-break: break-word; 
    white-space: normal;   
    display: block;        
}