.currency::first-letter {
    padding-right: 0.3em;
}

:host ::ng-deep .tblz01-pdf .custom-border .p-datatable .p-datatable-thead>tr>th {
    border-top: 1px solid #0462BC;
    //  border-top: 1px solid red;
}

.page-break {
    page-break-before: always;
  }