<div class="px-5 pb-3">
    <div class="tblz01-pdf md-4">
        <p-card>
            <table class="static-table" cellpadding="0" cellspacing="0">
                <tr style="background-color:#0048bc; color: white !important;">
                    <td colspan="3" class="text-black" id="DandOSubTemplate_deductibilities">
                        <h4 style="color: white;">Deductibles</h4>
                    </td>
                </tr>
                <tbody *ngIf="quoteEandOOptions.liabiltyDeductibles && quoteEandOOptions.liabiltyDeductibles.length > 0">
                    <tr>
                        <th style="text-align: center;">Description</th>
                        <th style="text-align: center;">Amount</th>
                        <!-- <th style="text-align: center;">Action</th> -->
                    </tr>
                    <tr *ngFor="let deduct of quoteEandOOptions.liabiltyDeductibles; let i = index">
                        <td style="text-align: left;">
                            {{ deduct.description }}
                        </td>
                        <td style="text-align: right;">
                            <span>
                                <app-currency-dollar-repee [maximumFractionDigits]="0" [rate]="this.quote?.dollarRate"
                                    [selectedCurrencyDollar]="this.quote?.selectedCurrency == '$ Dollar'"
                                    [value]="deduct.amount ?? 0"></app-currency-dollar-repee>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Show this message if there are no deductibles -->
            <div *ngIf="quoteEandOOptions.liabiltyDeductibles && quoteEandOOptions.liabiltyDeductibles.length === 0"
                style="text-align: center; margin-top: 10px;">
                No Deductibles found
            </div>
        </p-card>
    </div>


    <p-card *ngIf="showEditOption">
        <ng-template pTemplate="header">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h4 style="font-size: medium; font-weight: bold;">Deductibles</h4>
                <button class="btn btn-lg btn btn-primary" type="submit" id="deductibles_add"
                    (click)="addDeductibles()"><i class="pi pi-plus" style="font-size: 0.8rem"></i>
                    Add Deductibles</button>
            </div>
        </ng-template>
        <ng-container *ngIf="showTextboxes">
            <div style="margin-top: 10px;">
                <div class="grid">
                    <div class="col-12">
                        <input maxlength="255" pInputText id="description" autocomplete="off"
                            [(ngModel)]="this.deductiblesDetails.description" name="description"
                            (keypress)="checkValidity()" #description="ngModel" type="text"
                            placeholder="Enter Description" class="p-inputtext1 text-left mt-1" />
                    </div>
                    <div class="col-6">
                        <p-inputNumber mode="decimal" prefix="₹ " placeholder="₹ 0" id="amount" locale="en-IN"
                            autocomplete="off" maxlength="20" [(ngModel)]="this.deductiblesDetails.amount" name="amount"
                            #limitOfLiability="ngModel" [minFractionDigits]="0" class="text-right"
                            (onBlur)="checkValidity()" (onFocus)="checkValidity()"></p-inputNumber>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-7">
                </div>
                <div class="col-5 flex  justify-content-end" data-aos="fade-left" style="z-index:1">
                    <div>
                        <button type="button" (click)="save()" id="save_deductible" pButton pRipple label="Save"
                            icon="pi pi-check" class="btn btn-success mr-4" [disabled]="!this.isSaveEnabled"></button>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="grid" *ngIf="quoteEandOOptions.liabiltyDeductibles">
            <div class="col-12">
                <div *ngIf="quoteEandOOptions.liabiltyDeductibles.length>0">
                    <table>
                        <thead>
                            <tr>
                                <th style="text-align: center;">Description</th>
                                <th style="text-align: center;">Amount</th>
                                <th style="text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let deduct of quoteEandOOptions.liabiltyDeductibles;  let i = index">
                                <td style="text-align: left;">
                                    {{deduct.description}}
                                </td>

                                <td style="text-align: right;">
                                    <span>
                                        <app-currency-dollar-repee [maximumFractionDigits]="0"
                                            [rate]="this.quote?.dollarRate"
                                            [selectedCurrencyDollar]="this.quote?.selectedCurrency=='$ Dollar'"
                                            [value]='deduct.amount ?? 0'></app-currency-dollar-repee>
                                    </span>
                                </td>
                                <td class="button-container">
                                    <button pButton pRipple label="" icon="pi pi-pencil" class="p-button-success mr-2"
                                        (click)="this.editRecord(deduct,i)"></button>
                                    <button pButton pRipple label="" icon="pi pi-trash" class="p-button-danger mr-2"
                                        (click)="this.deleteRecord(deduct,i)"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </p-card>
    <app-claim-experience id="DeductiblesTab_ClaimExperience" [quote]="this.quote"></app-claim-experience>
</div>