h3{
    text-align: center !important;
    color: #3F51B5;
}

h5{
    text-align: center;
    color: #3F51B5;
}
.red-text {
    color: #3F51B5;
}

th {
    color: white; background-color: #3F51B5
}

p{
    font-size: smaller
}

.disclaimer-text{
    border:none;
    width: 100% !important;
    all: unset;
    font-weight: normal;
}