// .menu-buttons{
//     display: flex;
//     // padding: 6px;
// }

// button{
//     background-color: rgb(230, 230, 230);
//     width: 35px;
//     height: 35px;
//     border: none;
// }
// .menubutton-left{
//     padding-left:400px;
// }

// .menu-font{
//     padding-top: 4px;
//     font-size:15px30// }
//  i{
//     padding-top: 10px;
//     font-size:15px;
// }



// headline
.subject{
    //  display: inline;
        text-align: center;
        padding-top: 36px;
        font-size: 20px;
    }
    
    //content
    .rcl-subject{
    padding: 50px;
    font-size: 18px;
    
    }
    
    // text on menu 
    .proposal-number{
    padding-left: 80px;  
    padding-top: 50px;  
    padding-right: 50px;  
    }
    
    //scrollig
    .review-quote-details{
        max-height: 500px;
        min-height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
        // padding: 15px;
    }
    
    //button
    .button-container-div{
        text-align: center;
    }
    
    .liberty-png{
        text-align: center;
        padding: 15px;
       
    }
    .riskCoverLeter-headline{
        text-decoration: underline  rgb(255, 255, 255) 2px; 
        text-underline-offset: 8px;
    }