.row {
    margin-left:-5px;
    margin-right:-5px;
  }
    
  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 10px;
    font-size: 10px;
  }
  td{
    width: 100vw;
  }
.center{
    width: 80%;;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}  

table, thead,tbody, th,td{
    border-collapse: collapse;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 13px;
}


.coveragesNonOptedTable {
	table-layout: fixed; 
	border-collapse: collapse; 
	} 
	.coveragesNonOptedTable tbody{ 
	display: block; 
	overflow: auto; 
	height: 293px; 
	} 
  .coveragesOptedTable {
    table-layout: fixed; 
    border-collapse: collapse; 
    } 
    .coveragesOptedTable tbody{ 
    display: block; 
    overflow: auto; 
    height: 293px; 
    } 
    
	th { 
	background:transparent linear-gradient(180deg, #0064BB 0%, #633CD2 100%) 0% 0% no-repeat padding-box; 
    color: white;
	} 

    .dialog-content {
      padding: 20px;
    }
  
    h2 {
      margin: 0 0 10px 0;
      font-size: 1.5em;
      color: #333;
    }
  
    .subtitle {
      margin: 0 0 20px 0;
      font-size: 1.2em;
      color: #666;
    }