/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/quill/dist/quill.snow.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "../node_modules/@fullcalendar/daygrid/main.min.css";
@import "../node_modules/@fullcalendar/timegrid/main.min.css";
@import "assets/demo/flags/flags.css";
@import "assets/demo/documentation.scss";
@import "assets/css/fonts.css";
@import "assets/css/style.css"

// @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
// @import "assets/broker/css/choices.css";
// @import "assets/broker/css/style.css";
// .layout-main-content {
//     padding: 0px !important;
//     min-height: 100%;
// }

// .layout-menu {
//     padding: 0 !important;
// }

// .main-container {
//     &.create-quote-container {
//         // margin-top: 0 !important;
//         min-height: 100%;
//     }
// }

