<div class="flex">
    <div class="">
        <div class="px-5" id="QuoteSlipGeneratedDialog_Image">
            <img src="/assets/broker/images/icons/verified.png" width="50px" alt="">
        </div>
    </div>
    <div class="">
        <div class="mb-5">
            <h4 class="mb-3" id="QuoteSlipGeneratedDialog_Header"> Placement Slip Generated </h4>
                 <small>
                <div class="mb-5">
                    <i class="pi pi-info-circle mr-2"></i>
                    <p class="inline-block" id="QuoteSlipGeneratedDialog_QuoteSentTOInsurer">
                        Quote is sent to Insurer
                    </p>
                </div>
            </small>
        </div>


        <div class="mb-5">

            <button pButton type="button" id="QuoteSlipGeneratedDialog_GotoDashBoard" label="Go to Dashboard" class="p-button-primary py-3 px-5" (click)="close()"></button>
        </div>


    </div>
</div>
