<div class="grid">
    <div class="col-4">
        <div class="p-5" id="SendingForInsurerDialog_Image">

            <img src="/assets/broker/images/icons/verified.png" width="150px" alt="">
        </div>

    </div>
    <div class="col-8">
        <div class="flex align-items-center mb-3" id="SendingForInsurerDialog_Note">
            <img class="mr-2" src="/assets/broker/images/icons/smiling-face.png" alt=""> Hurray !!!
        </div>

        <div class="mb-5">
            <h3 class="mb-3">The Placement Slip has been sent to Approve</h3>


            <div class="mb-5">
                <i class="pi pi-info-circle mr-2" id="SendingForInsurerDialog_Icon"></i>
                <p class="inline-block" id="SendingForInsurerDialog_SentToInsurers_MSG">
                    The Placement Slip has been sent to Approval.
                </p>
            </div>
        </div>


        <div class="flex mb-5">

            <button pButton type="button" label="Go to Dashboard" class="p-button-success py-3 px-5 mr-3" id="SendingForInsurerDialog_GoToDashboard" (click)="close()"></button>

           
        </div>


    </div>
</div>
