<form [formGroup]="this.recordForm" (ngSubmit)="submitted=true; this.saveRecord();">
    <div class="form-container px-3">
        <div class="grid">
            <div class="col-12">
                <p-card>
                    <div class="">
                        <p-toast></p-toast>
                        <p-toolbar styleClass="">
                            <ng-template pTemplate="left">
                                <h3 class="mb-0" id="MerchantFormRecordName">{{this.recordSingularName}}</h3>
                            </ng-template>
                            <ng-template pTemplate="right">
                                <button id="MerchantForm_SaveButton" type="submit" pButton pRipple
                                    [disabled]="this.recordForm.invalid" label="Save" icon="pi pi-check"
                                    class="p-button-success mr-2"></button>
                                <button id="MerchantForm_CancelButton" pButton pRipple label="Cancel"
                                    icon="pi pi-times" class="p-button-danger mr-2 pr-3"
                                    (click)="this.onCancel()"></button>
                            </ng-template>
                        </p-toolbar>
                    </div>
                </p-card>`
            </div>
            <div class="col">
                <p-card>
                    <div class="card p-fluid">

                        <h5 id="MerchantForm_GeneralInformationHeader">General Information</h5>
                        <div class="field">
                            <label id="MerchantForm_NameLabel" for="name">Name</label>
                            <input maxlength="100" id="MerchantForm_Type" class="form-control" type="text"
                                pInputText id="name" formControlName="merchantName" required autofocus
                                [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.value['merchantName']}" />
                            <small id="MerchantForm_TypeValidationError" class="ng-dirty ng-invalid"
                                *ngIf="submitted && !recordForm.value['merchantName']">Name is required.</small>
                        </div>

                        <div class="field">
                            <label id="MerchantForm_urlLabel" for="url">URL</label>
                            <input maxlength="100" id="MerchantForm_Type" class="form-control" type="text"
                                pInputText id="name" formControlName="merchantUrl" required autofocus
                                [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.value['merchantUrl']}" />
                            <small id="MerchantForm_TypeValidationError" class="ng-dirty ng-invalid"
                                *ngIf="submitted && !recordForm.value['merchantUrl']">URL is required.</small>
                        </div>

                        <div class="field">
                            <label id="MerchantForm_NumberLabel" for="number">Merchant Number</label>
                            <input maxlength="100" id="MerchantForm_Type" class="form-control" type="text"
                                pInputText id="subject" formControlName="merchantNumber" required autofocus
                                [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.value['merchantNumber']}" />
                            <small id="MerchantForm_SubjectValidationError" class="ng-dirty ng-invalid"
                                *ngIf="submitted && !recordForm.value['merchantNumber']">Number is required.</small>
                        </div>
                
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</form>