table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #f2f2f2;
  }
  //Add More Button
  .form-row {
    display: flex;
    align-items: center;
  }
  
  .form-label {
    margin-right: 10px;
  }
  
   //Edit subsiadiary
  .link-button {
    background-color: transparent;
    border: none;
    color: #0066cc;
    cursor: pointer;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-decoration: underline;
  }
  
  .link-button:hover {
    text-decoration: none;
  }
  .reqHeader
  {
      margin-top: 16px;
      color: #ffffff;
      margin-bottom: 9px;
      background: #2156C2;
      padding: 4px;
  }
  //file upload button 
  .file-upload-container {
    display: flex;
    align-items: center;
  }
  
  .input-field {
    margin-right: 1rem;
  }
  
  .file-upload-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  :host ::ng-deep .p-fileupload .p-fileupload-content {
    padding: 1rem 1rem;
}

:host ::ng-deep .p-button .p-button-icon-left {
    margin-left: 10px !important;
}

:host ::ng-deep p-button.p-element.ng-star-inserted {
    display: none;
}

//add new button
.add-button {
  background-color: transparent;
  border: none;
  width: 100px;
  margin-left: 85%;
  margin-top: 5%;
  font-size: small;
}

.add-button:hover {
  width: 100px; /* or whatever width you want it to be on hover */
}

.align-right {
  float: right;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 1rem;
}

.p-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.radio-inline-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust spacing between radio buttons */
}

.radio-inline {
  display: flex;
  align-items: center;
}