<div class="flex" id="PaymentCompleted">
    <div class="">
        <div class="px-5">
            <img src="/assets/broker/images/icons/verified.png" width="50px" id="PaymentCompleted_Image" alt="">
        </div>
    </div>
    <div class="">
        <div class="mb-5">
            <h4 class="mb-3" id="PaymentCompleted_SuccessFull"> Payment Completed Successfully </h4>
        </div>


        <div class="mb-5">

            <button pButton type="button" id="PaymentCompleted_RiskLetterHead" label="View Risk Letter Head" class="p-button-primary py-3 px-5" (click)="viewRiskLetterHead()"></button>
        </div>


    </div>
</div>
