<div class="card modal-body" *ngIf="this.permissions.includes('read')">
    <form class="" [formGroup]="this.coverForm" (ngSubmit)="submitted = true; this.submitForm()" id="LossOfRentDialog_Form">
        <div class="grid">

            <div class="col-12 md:col-6 mb-2">
                <label for="" class="form-label" id="LossOfRentDialog_NoOfMonths_Label">No. of Months</label>
                <div class="pp-dropdown-c">
                    <p-dropdown id="LossOfRentDialog_NoOfMonths" [options]="this.optionnumberOfMonths" *ngIf="this.permissions.includes('update')" placeholder="Select No. of Months" optionLabel="label" optionValue="value" formControlName="numberOfMonth"></p-dropdown>
                    <p-dropdown id="LossOfRentDialog_NoOfMonths" [options]="this.optionnumberOfMonths" *ngIf="!this.permissions.includes('update')" disabled="{{true}}" placeholder="Select No. of Months" optionLabel="label" optionValue="value" formControlName="numberOfMonth"></p-dropdown>
                    <small id="LossOfRentDialog_NoOfMonths_ErrorMSG" class="ng-dirty ng-invalid" *ngIf="this.submitted && this.coverForm.controls['numberOfMonth']?.errors?.required">Number of Months is required.</small>
                </div>
            </div>

            <div class="col-12 md:col-6 mb-2" tooltipPosition="bottom" pTooltip="">
                <label for="" class="form-label" id="LossOfRentDialog_SumInsured_Label">Sum Insured</label>
                <!-- <span pTooltip="{{this.coverForm.controls['sumInsured'].value > 0 ? (toWords.convert(this.coverForm.controls['sumInsured'].value,{ currency: true ,ignoreZeroCurrency: true })) : ''}}" tooltipPosition="bottom"> -->
                <!-- <input maxlength="11" pInputText mode="currency" currency="INR" locale="en-IN" formControlName="sumInsured" id="LossOfRentDialog_SumInsured" placeholder="" *ngIf="this.permissions.includes('update')" currencyMask [options]="{ prefix: '₹ ', precision:0   }" class="p-inputtext1"> -->
                <p-inputNumber 
                    *ngIf="this.permissions.includes('update')" maxlength="17" class="p-inputtext1"id="LossOfRentDialog_SumInsured" mode="decimal" locale="en-IN" prefix="₹ "placeholder="0" formControlName="sumInsured">
                </p-inputNumber>
                <!-- </span> -->
                <!-- <input maxlength="11" pInputText mode="currency" currency="INR" locale="en-IN" formControlName="sumInsured" id="LossOfRentDialog_SumInsured" placeholder="" *ngIf="!this.permissions.includes('update')" disabled="true" currencyMask [options]="{ prefix: '₹ ', precision:0   }" class="p-inputtext1"> -->
                <p-inputNumber *ngIf="!this.permissions.includes('update')" maxlength="17" class="p-inputtext1"id="LossOfRentDialog_SumInsured" mode="decimal" locale="en-IN" prefix="₹ " disabled="true" placeholder="0" formControlName="sumInsured">
                </p-inputNumber>
                <!-- <input pInputText formControlName="sumInsured" placeholder=""  *ngIf="!this.permissions.includes('update') && this.coverForm.controls['sumInsured'].value" disabled="true" currencyMask [options]="{ prefix: '₹ ', precision:0   }" class="p-inputtext1">
                <input pInputText formControlName="sumInsured" placeholder="N/A"  *ngIf="!this.permissions.includes('update') && !this.coverForm.controls['sumInsured'].value" disabled="true" class="p-inputtext1"> -->
                <small class="ng-dirty ng-invalid" id="LossOfRentDialog_SumInsured_ErrorMSG" *ngIf="this.submitted && this.coverForm.controls['sumInsured']?.errors?.required">SumInsured is required.</small>
                <small class="ng-dirty ng-invalid" id="LossOfRentDialog_SumInsured_ErrorMSG" *ngIf="this.coverForm.controls['sumInsured']?.errors?.max">SumInsured cannot be more than 11 Characters.</small>

            </div>
            <div class="col-12" style="padding-top: 30px;">
                <div class="flex justify-content-end">
                    <button class="btn btn-success mr-4" type="submit"  id="LossOfRentDialog_Save" *ngIf="this.permissions.includes('update') && quote?.quoteState != 'Rejected'">Save</button>
                    <button class="btn btn-outline-light" type="button" id="LossOfRentDialog_Close"  (click)="cancel()">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>
