table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #f2f2f2;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container button {
    margin: 0 5px; /* Adjust the space between buttons as needed */
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 1rem;
}