  ::ng-deep .input-with-border {
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 4px;  
    width: auto;  
  }
  ::ng-deep .input-with-border {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;  
    width: auto;  
  }

  .custom-inputs {
    border: 1px solid #ccc;
    width: 190px; 
    padding: 5px; 
    font-size: 14px; 
}

.customs-inputs{
  border: 1px solid #ccc;
  width: 70px; 
  padding: 5px; 
  font-size: 14px; 
}

.p-checkbox input {
    border: 1px solid #ccc; 
}

.custom-input{
  border: 1px solid #ccc;
  width: 35px; 
  padding: 5px; 
  font-size: 14px; 
}

.customs-input{
  border: 1px solid #ccc;
  width: 30px; 
  padding: 5px; 
  font-size: 14px; 
}