.radio-inline-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* Adjust spacing between radio buttons */
}

.radio-inline {
  display: flex;
  align-items: center;
}

.reqHeader {
  margin-top: 16px;
  color: #ffffff;
  margin-bottom: 9px;
  background: #2156C2;
  padding: 4px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}