<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2 flex">
                        <button id="ClientGroupList_CreateRecord" pButton pRipple label="New" icon="pi pi-plus"
                            class="p-button-success mr-2" (click)="this.createRecord()"></button>
                        <!-- <button id="ClientGroupList_DeleteSelectedRecordsConfirmation" pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mr-2" (click)="this.openDeleteSelectedRecordsConfirmationDialog()" [disabled]="!this.selectedRecords || !this.selectedRecords.length"></button> -->
                        <button id="ClientGroupList_Clear" pButton label="Clear" class="p-button-outlined"
                            icon="pi pi-filter-slash" (click)="clear(dt)"></button>

                        <button pButton label="Download Bulk Import Sample" class="p-button-outlined mx-2"
                            icon="pi pi-download" (click)="this.bulkImportGenerateSample(dt)"></button>
                        <p-fileUpload [name]="this.uploadProps.name" [mode]="this.uploadProps.mode"
                            [url]="this.uploadProps.url" [method]="this.uploadProps.method"
                            (onUpload)="this.uploadProps.onUpload($event.originalEvent.body)"
                            [headers]="this.uploadProps.headers" [accept]="this.uploadProps.accept.toString()"
                            [showCancelButton]="true" [auto]="this.uploadProps.auto" chooseIcon="pi pi-upload"
                            [uploadLabel]="this.uploadProps.uploadLabel" [chooseLabel]="this.uploadProps.chooseLabel"
                            styleClass="p-button-outlined" id="uploadLocationDetails_Excel"></p-fileUpload>

                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center mr-2">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" id="ClientGroupList_FilterGlobal"
                                (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                        </span>
                    </div>

                    <p-fileUpload mode="basic" id="ClientGroupList_FileUpload" accept="image/*" [maxFileSize]="1000000"
                        label="" chooseLabel="" class="mr-2 inline-block"></p-fileUpload>
                    <!-- <button pButton pRipple label="" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button> -->
                </ng-template>
            </p-toolbar>

            <p-table [rowHover]="true" #dt [value]="this.records" [lazy]="true" (onLazyLoad)="this.loadRecords($event)"
                responsiveLayout="scroll" dataKey="_id" [selection]="this.selectedRecords"
                (selectionChange)="this.onSelectionChange($event)" [selectAll]="selectAll"
                (selectAllChange)="this.onSelectAllChange($event)" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                [rows]="20" [totalRecords]="totalRecords" [loading]="loading" [globalFilterFields]="['name','email']">

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox id="ClientGroupList_HeaderCheckBox"></p-tableHeaderCheckbox>
                        </th>

                        <th pSortableColumn="vin">
                            <div class="flex justify-content-between align-items-center">
                                <span id="ClientGroupList_VinHeader" style="white-space: nowrap">
                                    Vin
                                </span>
                                <div style="white-space: nowrap">
                                    <p-columnFilter id="ClientGroupList_VinColumnFilter" type="text" field="vin"
                                        display="menu" [showMatchModes]="false" [showOperator]="false" matchMode="in"
                                        operator="and" placeholder="Search by vin"></p-columnFilter>
                                    <p-sortIcon id="ClientGroupList_VinSortIcon" field="vin"></p-sortIcon>
                                </div>
                            </div>
                        </th>
                        <th pSortableColumn="clientGroupName">
                            <div class="flex justify-content-between align-items-center">
                                <span id="ClientGroupList_ClientGroupNameHeader" style="white-space: nowrap">
                                    Client Group Name
                                </span>
                                <div style="white-space: nowrap">
                                    <p-columnFilter id="ClientGroupList_ClientGroupNameColumnFilter" type="text"
                                        field="clientGroupName" display="menu" [showMatchModes]="false"
                                        [showOperator]="false" matchMode="contains" operator="or"
                                        placeholder="Search by clientGroupName"></p-columnFilter>
                                    <p-sortIcon id="ClientGroupList_ClientGroupNameSortIcon"
                                        field="clientGroupName"></p-sortIcon>
                                </div>
                            </div>
                        </th>
                        <th pSortableColumn="clientGroupContactName">
                            <div class="flex justify-content-between align-items-center">
                                <span id="ClientGroupList_ClientGroupContactNameHeader" style="white-space: nowrap">
                                    Client Group Contact Name
                                </span>
                                <div style="white-space: nowrap">
                                    <p-columnFilter id="ClientGroupList_ClientGroupContactNameColumnFilter" type="text"
                                        field="clientGroupContactName" display="menu" [showMatchModes]="false"
                                        [showOperator]="false" matchMode="contains" operator="or"
                                        placeholder="Search by Client Group Contact Name"></p-columnFilter>
                                    <p-sortIcon id="ClientGroupList_ClientGroupContactNameSortIcon"
                                        field="clientGroupContactName"></p-sortIcon>
                                </div>
                            </div>
                        </th>
                        <th pSortableColumn="address">
                            <div class="flex justify-content-between align-items-center">
                                <span id="ClientGroupList_AddressHeader" style="white-space: nowrap">
                                    Address
                                </span>
                                <div style="white-space: nowrap">
                                    <p-columnFilter id="ClientGroupList_AddressColumnFilter" type="text" field="address"
                                        display="menu" [showMatchModes]="false" [showOperator]="false"
                                        matchMode="contains" operator="or"
                                        placeholder="Search by Address"></p-columnFilter>
                                </div>
                            </div>
                        </th>
                        <th pSortableColumn="configMenuType">
                            <div class="flex justify-content-between align-items-center">
                                <span id="ClientGroupList_CityNameHeader" style="white-space: nowrap">
                                    City Name
                                </span>
                                <!-- <div style="white-space: nowrap">
                                    <p-columnFilter type="text" field="email" display="menu" placeholder="Search by Email"></p-columnFilter>
                                    <p-sortIcon field="email"></p-sortIcon>
                                </div> -->
                            </div>
                        </th>
                        <th pSortableColumn="passwordChangedAt">
                            <div class="flex justify-content-between align-items-center">
                                <span id="ClientGroupList_PincodeHeader" style="white-space: nowrap">
                                    Pincode
                                </span>
                                <!-- <div style="white-space: nowrap">
                                    <p-columnFilter type="text" field="email" display="menu" placeholder="Search by Email"></p-columnFilter>
                                    <p-sortIcon field="email"></p-sortIcon>
                                </div> -->
                            </div>
                        </th>
                        <th pSortableColumn="email">
                            <div class="flex justify-content-between align-items-center">
                                <span id="ClientGroupList_EmailHeader" style="white-space: nowrap">
                                    Email
                                </span>
                                <div style="white-space: nowrap">
                                    <p-columnFilter id="ClientGroupList_EmailColumnFilter" type="text" field="email"
                                        display="menu" [showMatchModes]="false" [showOperator]="false" matchMode="in"
                                        operator="and" placeholder="Search by Email"></p-columnFilter>
                                    <p-sortIcon id="ClientGroupList_EmailSortIcon" field="email"></p-sortIcon>
                                </div>
                            </div>
                        </th>
                        <th pSortableColumn="active">
                            <div class="flex justify-content-between align-items-center">
                                <span id="ClientGroupList_ActiveHeader" style="white-space: nowrap">
                                    Active
                                </span>
                                <div style="white-space: nowrap">
                                    <p-columnFilter id="ClientGroupList_ActiveColumnFilter" matchMode="equals"
                                        type="boolean" field="active" display="menu" [showMatchModes]="false"
                                        [showOperator]="false" matchMode="equals" operator="and"
                                        placeholder="Search by active"></p-columnFilter>
                                    <p-sortIcon id="ClientGroupList_ActiveSortIcon" field="active"></p-sortIcon>
                                </div>

                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-clientGroup>
                    <tr (click)="this.editRecord(clientGroup)">
                        <td>
                            <p-tableCheckbox [value]="clientGroup" id="ClientGroupList_ItemCheckBox"></p-tableCheckbox>
                        </td>

                        <td id="ClientGroupList_Vin">
                            {{clientGroup.vin}}
                        </td>
                        <td id="ClientGroupList_ClientGroupName">
                            {{clientGroup.clientGroupName}}
                        </td>
                        <td id="ClientGroupList_ClientGroupContactName">
                            {{clientGroup.clientGroupContactName}}
                        </td>
                        <td id="ClientGroupList_Address">
                            {{clientGroup.address}}
                        </td>
                        <td id="ClientGroupList_CityName">
                            <a
                                routerLink="/backend/admin/cities/{{clientGroup.cityId._id}}">{{clientGroup.cityId.name}}</a>
                        </td>
                        <td id="ClientGroupList_Pincode">
                            <a
                                routerLink="/backend/admin/pincodes/{{clientGroup.pincodeId._id}}">{{clientGroup.pincodeId.name}}</a>
                        </td>
                        <td id="ClientGroupList_Email">
                            {{clientGroup.email}}
                        </td>
                        <td id="ClientGroupList_ActiveHeader" class="text-center">
                            <i class="pi"
                                [ngClass]="{'true-icon pi-check-circle': clientGroup.active, 'false-icon pi-times-circle': !clientGroup.active}"></i>
                        </td>
                        <!-- <td>
                            <div class="flex">
                                <button id="ClientGroupList_editRecord" pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="this.editRecord(clientGroup)"></button>
                                </div>
                            </td> -->
                            <!-- <button id="ClientGroupList_DeleteRecordConfirmationDialog" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="this.openDeleteRecordConfirmationDialog(clientGroup)"></button> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="deleteRecordDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i id="ClientGroupList_DeleteRecordConfirmationIcon" class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"></i>
                <span id="ClientGroupList_DeleteRecordConfirmationMSG" *ngIf="this.selectedRecord">Are you sure you want
                    to delete <b>{{selectedRecord.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button id="ClientGroupList_DeleteRecord_No" pButton pRipple icon="pi pi-times" class="p-button-text"
                    label="No" (click)="this.deleteRecordDialog = false"></button>
                <button id="ClientGroupList_DeleteRecord_Yes" pButton pRipple icon="pi pi-check" class="p-button-text"
                    label="Yes" (click)="this.deleteRecord()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="this.deleteSelectedRecordsDialog" header="Confirm" [modal]="true"
            [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i id="ClientGroupList_DeleteManyConfirmationMSGIcon" class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"></i>
                <span id="ClientGroupList_DeleteManyConfirmationMSG">Are you sure you want to delete selected
                    records?</span>
            </div>
            <ng-template pTemplate="footer">
                <button id="ClientGroupList_DeleteManyRecord_No" pButton pRipple icon="pi pi-times"
                    class="p-button-text" label="No" (click)="this.deleteManyRecordsDialog = false"></button>
                <button id="ClientGroupList_DeleteManyRecord_Yes" pButton pRipple icon="pi pi-check"
                    class="p-button-text" label="Yes" (click)="this.deleteSelectedRecords()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>