
<div  *ngIf="!isMobile">
    <p-toast key="error" position="top-center" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div class="flex flex-column" style="flex: 1;font-size: 1.3rem" id="Login_Summary">
                {{message.summary}}
                <div [innerHTML]="message.detail" id="Login_MessageDetails"></div>
            </div>
        </ng-template>
    </p-toast>
    <p-toast></p-toast>
    
    <div class="login-body">
        <div class="grid">
            <div class="col-12">
                <div class="layout-topbar h-5rem">
                    <div class="layout-topbar-left">
                        <!-- <a href="javascript:void(0)" class="logo">
                            <img src="./../assets/logo.png" id="AppTopBar_InxImage" style="height:56px !important">
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="left-container">
                    <div class="grid" data-aos="fade-right">
                        <div *ngIf="!isOTPSent" class="col" style="width: 360px">
                            <p-card class="sign-in-container-wrap custom-height">
                                <div class="">
                                    <form class="py-6 p-md-5 form-style1" id="Login_Form" style="width: 320px"
                                        [formGroup]="this.loginForm" (ngSubmit)="submitted = true;this.onSubmit(email)">
                                        <div class="grid">
                                            <div class="col-12">
                                                <div class="sign-in-head text-center">
                                                    <a href="javascript:void(0)" class="logo">
                                                        <img src="./../assets/TATA_Logo2.png" id="AppTopBar_InxImage" style="height:56px !important">
                                                    </a>
                                                    <p id="Login_SignIn">Reset your Password</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-container-row mb-4">
                                            <div class="input-container">
                                                <i class="email"></i>
                                                <input formControlName="email" id="Login_Email" type="email" #email
                                                    autocomplete="off" class="form-control emailInput" pInputText maxlength="64"Query Header
                                                    placeholder="E-mail/IMD Code" />
                                            </div>
                                            <div class="ng-dirty ng-invalid"
                                                *ngIf="submitted && loginForm.controls['email']?.errors?.required">Email is
                                                required</div>
                                            <small class="ng-dirty ng-invalid"
                                                *ngIf="submitted && loginForm.controls['email']?.errors?.email">Invalid
                                                Email</small>
                                            <small class="ng-dirty ng-invalid"
                                                *ngIf="submitted && loginForm.controls['email']?.errors?.maxlength">Email
                                                cannot be more than 100 Characters</small>
                                        </div>
                                        <div class="btn-div  mb-4">
                                            <button class="btn btn-success" type="submit" id="Login_Submit" pButton
                                                label="Generate OTP" [loading]="loading"></button>
                                        </div>
                                        <div class="account-signup" id="Login_SignUp">
                                            have an account? <a class="signup-txt" routerLink="/account/login">Login</a>
                                        </div>
                                    </form>
                                </div>
                            </p-card>
                        </div>
                        <div *ngIf="isOTPSent" class="col" style="width: 360px">
                            <p-card class="sign-in-container-wrap custom-height" >
                                <div class="">
                                    <form class="py-6 p-md-5 form-style1" id="Login_Form" style="width: 320px"
                                        [formGroup]="this.resetForm" (ngSubmit)="submitted1 = true;this.resetPassword()">
                                        <div *ngIf="!isPasswordReset">
                                            <div class="grid">
                                                <div class="col-12">
                                                    <div class="sign-in-head text-center">
                                                        
                                                        <p id="Login_SignIn">Reset your Password</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-container-row mb-4">
                                                <div class="input-container">
                                                    <input formControlName="email" id="Login_Email" type="email" #email
                                                        autocomplete="off" class="form-control emailInput" pInputText
                                                        placeholder="name@example.com" />
                                                </div>
                                                <div class="ng-dirty ng-invalid"
                                                    *ngIf="submitted1 && resetForm.controls['email']?.errors?.required">
                                                    Email is
                                                    required</div>
                                                <small class="ng-dirty ng-invalid"
                                                    *ngIf="submitted1 && resetForm.controls['email']?.errors?.email">Invalid
                                                    Email</small>
                                                <small class="ng-dirty ng-invalid"
                                                    *ngIf="submitted1 && resetForm.controls['email']?.errors?.maxlength">Email
                                                    cannot be more than 100 Characters</small>
                                            </div>
                                            <div class="input-container-row mb-4">
                                                <div class="input-container">
                                                    <span class="p-input-icon-right w-full">
                                                        <i *ngIf="!show" class="pi pi-eye" (click)="toggleShow()"></i>
                                                        <i *ngIf="show" class="pi pi-eye-slash" (click)="toggleShow()"></i>
                                                        <input [type]="show ? 'text' : 'password'"
                                                            id="ResetForm_ConfirmPasswordInput"
                                                            formControlName="newPassword" autofocus class="h-4rem"
                                                            pInputText (input)="matchPassword()"
                                                            [ngClass]="{'ng-invalid ng-dirty': submitted1 && resetForm.controls['newPassword']?.errors}">
                                                    </span>
                                                </div>
                                                <small class="ng-dirty ng-invalid"
                                                    *ngIf="resetForm.controls['newPassword']?.errors?.invalidPassword">
                                                    Password should contain one uppercase, one lower case, one special character, one
                                                    numeric with 8 characters atleast.
                                                </small>
                                            </div>
                                            <div class="input-container-row mb-4">
                                                <div class="input-container">
                                                    <span class="p-input-icon-right w-full">
                                                        <i *ngIf="!confirmShow" class="pi pi-eye"
                                                            (click)="toggleConfimrShow()"></i>
                                                        <i *ngIf="confirmShow" class="pi pi-eye-slash"
                                                            (click)="toggleConfimrShow()"></i>
                                                        <input [type]="confirmShow ? 'text' : 'password'"
                                                            id="ResetForm_ConfirmPasswordInput"
                                                            formControlName="confirmPassword" autofocus class="h-4rem"
                                                            pInputText (input)="matchPassword()"
                                                            [ngClass]="{'ng-invalid ng-dirty': submitted1 && resetForm.controls['confirmPassword']?.errors}">
                                                    </span>
                                                </div>
                                                <small class="ng-dirty ng-invalid"
                                                    *ngIf="this.resetForm.value['confirmPassword'] && !isMatchPassword">
                                                    New password & Confirm password should match.
                                                </small>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="flex justify-content-between">
                                                    <div class="col-2">
                                                        <input pInputText type="text" #otp1 id="ChooseVerifierOTP_OTPInput1"
                                                            formControlName="otp1" class="p-inputtext1 text-center"
                                                            maxlength="1" (keyup)="move($event, '', otp1, otp2)">
                                                    </div>
                                                    <div class="col-2">
                                                        <input pInputText type="text" #otp2 id="ChooseVerifierOTP_OTPInput2"
                                                            formControlName="otp2" class="p-inputtext1 text-center"
                                                            maxlength="1" (keyup)="move($event, otp1, otp2, otp3)">
                                                    </div>
                                                    <div class="col-2">
                                                        <input pInputText type="text" #otp3 id="ChooseVerifierOTP_OTPInput3"
                                                            formControlName="otp3" class="p-inputtext1 text-center"
                                                            maxlength="1" (keyup)="move($event, otp2, otp3, otp4)">
                                                    </div>
                                                    <div class="col-2">
                                                        <input pInputText type="text" #otp4 id="ChooseVerifierOTP_OTPInput4"
                                                            formControlName="otp4" class="p-inputtext1 text-center"
                                                            maxlength="1" (keyup)="move($event, otp3, otp4, '')">
                                                    </div>
                                                </div>
        
                                            </div>
                                            <div class="row mb-3">
                                                <p class="text-center"
                                                    style="color: rgb(0, 0, 0);text-decoration: none; font-size: 14px;"
                                                    *ngIf="!OTPSent">
                                                    Didn't receive OTP? <a href="javascript:void(0)"
                                                        (click)="resendOTP()">Resend</a>
                                                </p>
                                                <p style="font-size: 14px;" class="text-center" *ngIf="OTPSent">
                                                    Resend in: {{display}}
                                                </p>
                                            </div>
                                            <div class="btn-div  mb-4">
                                                <button class="btn btn-success" type="submit" id="Login_Submit" pButton
                                                [disabled] = "!this.resetForm.valid" label="Submit" [loading]="loading"></button>
                                            </div>
                                            <div class="account-signup" id="Login_SignUp">
                                                have an account? <a class="signup-txt" routerLink="/account/login">Login</a>
                                            </div>
                                        </div>
                                        <div *ngIf="isPasswordReset">
                                            <h6 class="text-center mb-4">
                                                Your password reset successfully.
                                            </h6>
                                            <div class="flex justify-content-center">
                                                <button class="btn btn-success" type="button" id="Login_Submit" pButton (click)="navigateToLogin()"
                                                label="Go to Login" [loading]="loading"></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </p-card>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    
    </div>
</div>
<div  *ngIf="isMobile" class="sign-in-slider min-h-screen align-items-center " style="display: block;">
    <p-toast key="error" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div class="flex flex-column" style="flex: 1;font-size: 1.3rem" id="Login_Summary">
                {{message.summary}}
                <div [innerHTML]="message.detail" id="Login_MessageDetails"></div>
            </div>
        </ng-template>
    </p-toast>
    <p-toast></p-toast>
    <div class="grid" style="padding: unset; margin: unset;">
        <div class="col-12" style="padding: unset; margin: unset;">
            <div class="layout-topbar h-5rem  flex justify-content-center" style="border-radius: unset;">
                <div class="layout-topbar-left">
                    <!-- <a href="javascript:void(0)" class="">
                        <img src="./../assets/logo.png" id="AppTopBar_InxImage">
                    </a> -->
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <p-card [style]="{'box-shadow':'none'}">
                <div class="flex justify-content-center">
                    <img [src]="'assets/layout/images/pages/login.png'" height="180px" alt="inexchange" id="Login_LoginImage">
                </div>
                <div class="sign-in-head text-center">
                    <h1 class="mt-2" id="Login_Header">Hello!</h1>
                    <p *ngIf="(!isOTPSent && !isOTPVerified) || (isOTPSent && isOTPVerified)" id="Login_SignIn">Reset your Password</p>
                    <p *ngIf="isOTPSent && !isOTPVerified" id="Login_SignIn">An OTP has been sent on
                        {{hiddenEmail}}</p>
                </div>
                <div class="left-container">
                    <div class="grid">
                        <div *ngIf="!isOTPSent && !isOTPVerified" class="col">
                            <div class="">
                                <form class="py-6 p-md-5 form-style1" id="Login_Form" style="width: 320px"
                                    [formGroup]="this.loginForm" (ngSubmit)="submitted = true;this.onSubmit(email)">
                                    
                                    <div class="input-container-row mb-4">
                                        <div class="">
                                            <label for="Login_Email" class="font-bold">Email Address</label>        
                                            <input formControlName="email" id="Login_Email" type="email" #email autocomplete="off"
                                                class="form-control emailInput mt-2" pInputText placeholder="name@example.com" />
                                        </div>
                                        <div class="ng-dirty ng-invalid"
                                            *ngIf="submitted && loginForm.controls['email']?.errors?.required">Email is
                                            required</div>
                                        <small class="ng-dirty ng-invalid"
                                            *ngIf="submitted && loginForm.controls['email']?.errors?.email">Invalid
                                            Email</small>
                                        <small class="ng-dirty ng-invalid"
                                            *ngIf="submitted && loginForm.controls['email']?.errors?.maxlength">Email
                                            cannot be more than 100 Characters</small>
                                    </div>
                                    <div class="btn-div  mb-4">
                                        <button class="btn btn-success" type="submit" id="Login_Submit" pButton label="Generate OTP"
                                            [loading]="loading"></button>
                                    </div>
                                    <div class="account-signup" id="Login_SignUp">
                                        have an account? <a class="signup-txt" routerLink="/account/login">Login</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div *ngIf="isOTPSent && !isOTPVerified" class="col">
                            <div class="">
                                <form class="py-6 p-md-5 form-style1" id="Login_Form" style="width: 320px"
                                    [formGroup]="this.otpForm" (ngSubmit)="this.verifyOTP()">
                                    <div class="mb-2">
                                        <a href="javascript:void(0)" (click)="backToMobile()">
                                            <i class="pi pi-angle-left"></i> Back
                                        </a>
                                    </div>
                                    <div>
                                        <label class="font-bold">Enter OTP</label>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="flex justify-content-between">
                                            <div class="col-3">
                                                <input pInputText type="text" #otp1 id="ChooseVerifierOTP_OTPInput1"
                                                    formControlName="otp1" class="p-inputtext1 text-center"
                                                    maxlength="1" (keyup)="move($event, '', otp1, otp2)">
                                            </div>
                                            <div class="col-3">
                                                <input pInputText type="text" #otp2 id="ChooseVerifierOTP_OTPInput2"
                                                    formControlName="otp2" class="p-inputtext1 text-center"
                                                    maxlength="1" (keyup)="move($event, otp1, otp2, otp3)">
                                            </div>
                                            <div class="col-3">
                                                <input pInputText type="text" #otp3 id="ChooseVerifierOTP_OTPInput3"
                                                    formControlName="otp3" class="p-inputtext1 text-center"
                                                    maxlength="1" (keyup)="move($event, otp2, otp3, otp4)">
                                            </div>
                                            <div class="col-3">
                                                <input pInputText type="text" #otp4 id="ChooseVerifierOTP_OTPInput4"
                                                    formControlName="otp4" class="p-inputtext1 text-center"
                                                    maxlength="1" (keyup)="move($event, otp3, otp4, '')">
                                            </div>
                                        </div>
            
                                    </div>
                                    <div class="row mb-3">
                                        <p class="text-center" style="color: rgb(0, 0, 0);text-decoration: none; font-size: 14px;"
                                            *ngIf="!OTPSent">
                                            Didn't receive OTP? <a href="javascript:void(0)" (click)="resendOTP()">Resend</a>
                                        </p>
                                        <p style="font-size: 14px;" class="text-center" *ngIf="OTPSent">
                                            Resend in: {{display}}
                                        </p>
                                    </div>
                                    <div class="btn-div  mb-4">
                                        <button class="btn btn-success" type="submit" id="Login_Submit" pButton label="Verify OTP"
                                            [loading]="loading"></button>
                                    </div>
                                    <div class="account-signup" id="Login_SignUp">
                                        have an account? <a class="signup-txt" routerLink="/account/login">Login</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div *ngIf="isOTPSent && isOTPVerified" class="col">
                            <div class="">
                                <form class="py-6 p-md-5 form-style1" id="Login_Form" style="width: 320px"
                                    [formGroup]="this.resetForm" (ngSubmit)="submitted1 = true;this.resetPassword()">
                                    <div *ngIf="!isPasswordReset">
                                        <div class="input-container-row mb-4">
                                            <label for="Login_Email" class="font-bold">Email Address</label>
                                            <div class="input-container mt-2">
                                                <input formControlName="email" id="Login_Email" type="email" #email
                                                    autocomplete="off" class="form-control emailInput" pInputText
                                                    placeholder="name@example.com" />
                                            </div>
                                            <div class="ng-dirty ng-invalid"
                                                *ngIf="submitted1 && resetForm.controls['email']?.errors?.required">
                                                Email is
                                                required</div>
                                            <small class="ng-dirty ng-invalid"
                                                *ngIf="submitted1 && resetForm.controls['email']?.errors?.email">Invalid
                                                Email</small>
                                            <small class="ng-dirty ng-invalid"
                                                *ngIf="submitted1 && resetForm.controls['email']?.errors?.maxlength">Email
                                                cannot be more than 100 Characters</small>
                                        </div>
                                        <div class="input-container-row mb-4">
                                            <label for="Login_Email" class="font-bold">New Password</label>
                                            <div class="input-container mt-2">
                                                <span class="p-input-icon-right w-full">
                                                    <i *ngIf="!show" class="pi pi-eye" (click)="toggleShow()"></i>
                                                    <i *ngIf="show" class="pi pi-eye-slash" (click)="toggleShow()"></i>
                                                    <input [type]="show ? 'text' : 'password'" id="ResetForm_ConfirmPasswordInput"
                                                        formControlName="newPassword" autofocus class="h-4rem" pInputText
                                                        (input)="matchPassword()"
                                                        [ngClass]="{'ng-invalid ng-dirty': submitted1 && resetForm.controls['newPassword']?.errors}">
                                                </span>
                                            </div>
                                            <small class="ng-dirty ng-invalid"
                                                *ngIf="resetForm.controls['newPassword']?.errors?.invalidPassword">
                                                Password should contain one uppercase, one lower case, one special character, one
                                                numeric with 8 characters atleast.
                                            </small>
                                        </div>
                                        <div class="input-container-row mb-4">
                                            <label for="Login_Email" class="font-bold">Confirm Password</label>
                                            <div class="input-container mt-2">
                                                <span class="p-input-icon-right w-full">
                                                    <i *ngIf="!confirmShow" class="pi pi-eye" (click)="toggleConfimrShow()"></i>
                                                    <i *ngIf="confirmShow" class="pi pi-eye-slash"
                                                        (click)="toggleConfimrShow()"></i>
                                                    <input [type]="confirmShow ? 'text' : 'password'"
                                                        id="ResetForm_ConfirmPasswordInput" formControlName="confirmPassword"
                                                        autofocus class="h-4rem" pInputText (input)="matchPassword()"
                                                        [ngClass]="{'ng-invalid ng-dirty': submitted1 && resetForm.controls['confirmPassword']?.errors}">
                                                </span>
                                            </div>
                                            <small class="ng-dirty ng-invalid"
                                                *ngIf="this.resetForm.value['confirmPassword'] && !isMatchPassword">
                                                New password & Confirm password should match.
                                            </small>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="flex justify-content-between">
                                                <div class="col-2">
                                                    <input pInputText type="text" #otp1 id="ChooseVerifierOTP_OTPInput1"
                                                        formControlName="otp1" class="p-inputtext1 text-center"
                                                        maxlength="1" (keyup)="move($event, '', otp1, otp2)">
                                                </div>
                                                <div class="col-2">
                                                    <input pInputText type="text" #otp2 id="ChooseVerifierOTP_OTPInput2"
                                                        formControlName="otp2" class="p-inputtext1 text-center"
                                                        maxlength="1" (keyup)="move($event, otp1, otp2, otp3)">
                                                </div>
                                                <div class="col-2">
                                                    <input pInputText type="text" #otp3 id="ChooseVerifierOTP_OTPInput3"
                                                        formControlName="otp3" class="p-inputtext1 text-center"
                                                        maxlength="1" (keyup)="move($event, otp2, otp3, otp4)">
                                                </div>
                                                <div class="col-2">
                                                    <input pInputText type="text" #otp4 id="ChooseVerifierOTP_OTPInput4"
                                                        formControlName="otp4" class="p-inputtext1 text-center"
                                                        maxlength="1" (keyup)="move($event, otp3, otp4, '')">
                                                </div>
                                            </div>
    
                                        </div>
                                        <div class="row mb-3">
                                            <p class="text-center"
                                                style="color: rgb(0, 0, 0);text-decoration: none; font-size: 14px;"
                                                *ngIf="!OTPSent">
                                                Didn't receive OTP? <a href="javascript:void(0)"
                                                    (click)="resendOTP()">Resend</a>
                                            </p>
                                            <p style="font-size: 14px;" class="text-center" *ngIf="OTPSent">
                                                Resend in: {{display}}
                                            </p>
                                        </div>
                                        <div class="btn-div  mb-4">
                                            <button class="btn btn-success" type="submit" id="Login_Submit" pButton label="Submit"
                                                [loading]="loading"></button>
                                        </div>
                                        <div class="account-signup" id="Login_SignUp">
                                            have an account? <a class="signup-txt" routerLink="/account/login">Login</a>
                                        </div>
                                    </div>
                                    <div *ngIf="isPasswordReset">
                                        <h6 class="text-center mb-4">
                                            Your password reset successfully.
                                        </h6>
                                        <div class="flex justify-content-center">
                                            <button class="btn btn-success" type="button" id="Login_Submit" pButton
                                                (click)="navigateToLogin()" label="Go to Login" [loading]="loading"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</div>