<div class="grid">
    <div class="col-6">
        <div class="p-5" id="QuoteSentForPlacementDialog_Image">

            <img src="/assets/broker/images/icons/verified.png" width="150px" alt="">
        </div>

    </div>
    <div class="col-6 pl-4">
        <div class="flex align-items-center mb-3" id="QuoteSentForPlacementDialog_Note">
            <img class="mr-2" src="/assets/broker/images/icons/smiling-face.png" alt=""> Hurray, you'r done.
        </div>

        <div class="mb-5">
            <h3 class="mb-3" id="QuoteSentForPlacementDialog_Header">Quote Slip is Been sent for Placement!</h3>


            <div class="mb-5">
                <i class="pi pi-info-circle mr-2" id="QuoteSentForPlacementDialog_Icon"></i>
                <p class="inline-block" id="QuoteSentForPlacementDialog_MSG">
                    Your quote is sent for approval
                </p>
            </div>
        </div>


        <div class="mb-5">

            <button pButton type="button" id="QuoteSentForPlacementDialog_RiskCoverLetter" label="View Risk Held Letter" class="p-button-primery py-3 px-5" (click)="openRiskCoverLetter()"></button>
        </div>


    </div>
</div>
