<div class="form-container px-3 pt-3">
    <div class="grid">
        <div class="col-12 mx-0">
            <!-- <button type="button" id="btn_Save" pButton pRipple label="Save" icon="pi pi-check" (click)="save()"
                    class="btn btn-success"></button> -->
            <div class="col-12">
                <div class="grid">
                    <div class="col-6">
                        <p-card class="">
                            <div class="grid">
                                <div class="col-8">
                                    <label for="" class="form-label" id="juridiction">Jurisdiction</label>
                                    <input *ngIf="templateName=='LIABILITY'" pInputText type="text"
                                        placeholder="Worldwide" [(ngModel)]="this.quoteDandOOptions.juridiction"
                                        #juridiction="ngModel" id="juridiction" name="juridiction" [readOnly]="true" />
                                    <p-dropdown *ngIf="templateName=='LIABILITY_CRIME'" class="form-control"
                                        [options]="this.OptionTerritoryAndJurasdiction" placeholder="Select"
                                        optionLabel="label" optionValue="value"
                                        [(ngModel)]="this.quoteDandOOptions.juridictionId" #juridictionId="ngModel"
                                        id="juridictionId" name="juridictionId" appendTo="body"></p-dropdown>

                                </div>
                            </div>
                            <div class="grid">
                                <div class="col-8">
                                    <label  for="" class="form-label" id="territory">Territory</label>
                                    <input *ngIf="templateName=='LIABILITY'" pInputText type="text" placeholder="Worldwide"
                                        [(ngModel)]="this.quoteDandOOptions.territory" #territory="ngModel"
                                        id="territory" name="territory" [readOnly]="true" />
                                    <p-dropdown *ngIf="templateName=='LIABILITY_CRIME'" class="form-control"
                                        [options]="this.OptionTerritoryAndJurasdiction" placeholder="Select"
                                        optionLabel="label" optionValue="value"
                                        [(ngModel)]="this.quoteDandOOptions.territoryId" #territoryId="ngModel"
                                        id="territoryId" name="territoryId" appendTo="body"></p-dropdown>
                                </div>
                            </div>
                            <!-- <div class="grid">
                                <div class="col-10">
                                    <label for="" class="form-label" id="businessAsPerCompany">Business as per parent company*</label>
                                    <p-dropdown class="form-control" [options]="this.optionsBusinessTypeAsParentCompany"
                                        placeholder="Select Type" optionLabel="label" optionValue="value"
                                        [(ngModel)]="this.quoteDandOOptions.businessAsPerCompanyId" #businessAsPerCompanyId="ngModel"
                                        id="businessAsPerCompanyId" name="businessAsPerCompanyId" appendTo="body"></p-dropdown>
                                </div>
                            </div> -->
                            <div *ngIf="templateName!='LIABILITY_CRIME'" class="grid">
                                <div class="col-10">
                                    <label for="" class="form-label">Subsidiary audited financial report</label>
                                    <p>(Incase if it is not consolidated with parent)</p>
                                    <div *ngIf="this.quoteDandOOptions.subJoinVentureDocsFilePath"
                                        class="done-upload-outline-light flex justify-content-between"
                                        id="territorycard_SubsidiaryauditedfinancialReport">
                                        <!-- <a class="" pRipple
                                                (click)="this.downloadSubsidiaryauditedfinancialReport()">View
                                                Subsidiary audited financial
                                                Report</a> -->

                                        <!-- <div class="flex" *ngIf="this.permissions.includes('update')">
                                                <a class="red-link"
                                                    (click)="this.downloadFileSubsidiaryauditedfinancialReport()"
                                                    style="color: blue;"><i class="pi pi-download"
                                                        id="territorycard_Download_SubsidiaryauditedfinancialReport"></i>
                                                    Download</a>
                                            </div>

                                            <div class="flex" *ngIf="this.permissions.includes('update')">
                                                <a class="red-link"
                                                    (click)="this.deleteSubsidiaryauditedfinancialReport()"
                                                    style="color: red;"><i class="pi pi-trash"
                                                        id="territorycard_Delete_SubsidiaryauditedfinancialReport"></i>
                                                    Delete</a>
                                            </div> -->
                                    </div>
                                    <div *ngIf="!this.quoteDandOOptions.subJoinVentureDocsFilePath"
                                        class="done-upload-outline-light flex justify-content-between"
                                        style=" padding-bottom: unset;">
                                        <p class="red-link"
                                            id="territorycard_SubsidiaryauditedfinancialReport_NotFound">No
                                            Subsidiary audited financial
                                            Report Found</p>

                                    </div>

                                    <div *ngIf="this.permissions.includes('update')">

                                        <p-fileUpload #fileUpload
                                            *ngIf="!this.quoteDandOOptions.subJoinVentureDocsFilePath"
                                            id="territorycard_SubsidiaryauditedfinancialReport_Upload" [auto]="true"
                                            (onUpload)="this.onUploadSubsidiaryauditedfinancialReport()"
                                            styleClass="upload-outline-light"
                                            (onError)="this.errorHandler($event, fileUpload)"
                                            name="subsidairy_audited_financial_report" mode="advanced"
                                            url="{{this.uploadSubsidiaryauditedfinancialReportUrl}}"
                                            accept="" maxFileSize="10000000" chooseIcon="pi pi-paperclip"
                                            chooseLabel="Upload Subsidiary audited financial Report"
                                            [headers]="this.uploadHttpHeaders" method="post"></p-fileUpload>
                                    </div>
                                </div>

                            </div>

                            <div class="grid">
                                <div class="col-12">
                                    <div *ngIf="subsidairyAttachment.length>0">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;">File Name</th>
                                                    <th style="text-align: center;">View</th>
                                                    <th style="text-align: center;">Download</th>
                                                    <th style="text-align: center;">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let attachment of subsidairyAttachment">
                                                    <td>{{ attachment.fileName }}</td>
                                                    <td style="text-align: center;">
                                                        <i class="pi pi-eye"
                                                            style="cursor: pointer; color: blue; font-size: 18px;"
                                                            (click)="this.downloadSubsidiaryauditedfinancialReport()"
                                                            title="View"></i>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <i class="pi pi-download"
                                                            style="cursor: pointer; color: blue; font-size: 18px;"
                                                            (click)="this.downloadFileSubsidiaryauditedfinancialReport()"
                                                            title="Download"></i>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <i class="pi pi-trash"
                                                            style="cursor: pointer; color: red; font-size: 18px;"
                                                            (click)="this.deleteSubsidiaryauditedfinancialReport()"
                                                            title="Delete"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="button-container">
                                <button type="button" id="btn_Save" pButton pRipple label="Save" icon="pi pi-check"
                                    (click)="save()" class="btn btn-success align-right"></button>
                            </div>
                        </p-card>
                        <p-card class="col-4">
                            <div class="from-row">
                                <div class="col-14">
                                    <div class="form-row">
                                        <label for="" class="form-label" id="lblClientIndustry"
                                            style="text-align: center;">Subsidiary Details</label>
                                    </div>
                                    <table style="margin: 0 auto; width: 100%; text-align: center;">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">Sr No</th>
                                                <th style="text-align: center;width: 30% !important;">Location Name</th>
                                                <th style="text-align: center;width: 30% !important;">Is Business
                                                    activity not as per parent company?</th>
                                                <th style="text-align: center;">Details of Activity</th>
                                                <th style="text-align: center;">Action</th>
                                                <!-- Added delete button column -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of quoteDandOOptions.subsidaryDetails; let i = index">
                                                <td>{{i+1}}</td>
                                                <td>
                                                    <p-dropdown class="form-control" [options]="this.countryList"
                                                        placeholder="Select" optionLabel="label" optionValue="value"
                                                        [(ngModel)]="item.countryId" #countryIdId="ngModel"
                                                        id="countryIdId" name="countryIdId"
                                                        (onChange)="setCountryName(item)" appendTo="body"
                                                        [disabled]="item.isSelected && (item.countryId!='' && item.countryId!=null)"></p-dropdown>
                                                </td>
                                                <td style="text-align: center;">
                                                    <p-checkbox class="mr-2" name="isSelected{{i}}"
                                                        value="{{item.isSelected}}" id="conditionalFree_{{i}}"
                                                        [binary]="true" [(ngModel)]="item.isSelected"
                                                        inputId="{{item.isSelected}}"
                                                        (onChange)="handleBusinessActivityCheckboxChange($event,item,i)">
                                                    </p-checkbox>
                                                </td>
                                                <td>
                                                    <input pInputText type="text" placeholder="Activity name"
                                                        [(ngModel)]="item.activityName" maxlength="255"
                                                        autocomplete="off" #activityName_{{i}}="ngModel"
                                                        id="activityName_{{i}}" name="activityName_{{i}}"
                                                        [disabled]="!item.isSelected || !item.countryId" />
                                                </td>
                                                <td style="text-align: center;">
                                                    <button pButton pRipple label="Delete" icon="pi pi-trash"
                                                        class="btn btn-danger" style="height: 30px; line-height: 1;"
                                                        (click)="removeRow(i)"></button> <!-- Delete button -->
                                                </td>

                                            </tr>

                                            <!-- Add more rows as needed -->
                                        </tbody>
                                    </table>
                                    <button class="btn btn-info add-button" (click)="addSubsidary()">
                                        + Add More
                                    </button>
                                    <!-- <div>
                                        <button class="btn btn-success mr-4" style="width: 75px; margin-top: 2%; margin-left: 78%;" type="button" id="familyComposition_Save">Save</button>
                                    </div> -->
                                </div>
                            </div>
                            <div class="button-container">
                                <button type="button" id="btn_Save" pButton pRipple label="Save" icon="pi pi-check"
                                    (click)="save()" class="btn btn-success align-right"
                                    style="margin-top: 25px;"></button>
                            </div>
                        </p-card>
                    </div>
                    <div class="col-6">
                        <p-card>
                            <ng-template pTemplate="header">
                                <div class="grid" style="margin-bottom: 20px;">
                                    <div class="col-8">
                                        <h3 class="mb-2" style="font-size: large; font-weight: bold;"
                                            id="IndicativeQuoteTab_TotalIndicative">Total Indicative Quote</h3>
                                        <label for="" id="lblClientIndustry"
                                            style="font-size: xx-small;  font-weight: bold;"
                                            *ngIf="templateName=='LIABILITY'">Liability - Directors &
                                            Officers Insuarance Policy</label>
                                        <label for="" id="lblClientIndustry"
                                            style="font-size: xx-small;  font-weight: bold;"
                                            *ngIf="templateName=='LIABILITY_CRIME'">Liability - Crime Insuarance
                                            Policy</label>
                                        <p class="sub-head" id="IndicativeQuoteTab_ProductType">
                                            {{this.quote?.productId?.type}}</p>
                                    </div>
                                    <div class="col-4 text-right" *ngIf="this.quote.partnerId['isRate'] == true">
                                        <p class="premium" id="IndicativeQuoteTab_TotalPremium_Label">Total Premium
                                        </p>
                                        <!-- <p class="premium-price" id="IndicativeQuoteTab_TotalPremium" pTooltip="{{this.toWords.convert(this.quote?.totalIndictiveQuoteAmt, { currency: true ,ignoreZeroCurrency: true })}}">{{(this.quote?.totalIndictiveQuoteAmt ?? 0).toLocaleString('en-IN' , {style: 'currency', currency: 'INR'}) }}</p> -->
                                        <p class="premium-price " id="IndicativeQuoteTab_TotalPremium"><span>
                                                <!-- <app-currency
                                                        [value]="this.quote?.totalIndictiveQuoteAmt ?? 0"></app-currency>-->
                                                <app-currency-dollar-repee [maximumFractionDigits]="0"
                                                    [rate]="this.quote?.dollarRate"
                                                    [selectedCurrencyDollar]="this.quote?.selectedCurrency=='$ Dollar'"
                                                    [value]='this.quoteDandOOptions?.totalPremiumAmt ?? 0'></app-currency-dollar-repee>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </ng-template>
                            <div class="view-breakup h-100">
                                <div class="grid mb-2">
                                    <div class="col-8">
                                        <span class="name" id="IndicativeQuoteTab_BasePremium_Label">Limit of
                                            Liability:</span>
                                        <!-- <span class="price" id="IndicativeQuoteTab_BasePremium" pTooltip="{{this.toWords.convert(this.quote?.totalIndictiveQuoteAmt, { currency: true ,ignoreZeroCurrency: true })}}">{{(this.quote?.totalIndictiveQuoteAmt ?? 0).toLocaleString('en-IN' , {style: 'currency', currency: 'INR'}) }}</span> -->
                                        <!-- <span class="price" id="IndicativeQuoteTab_BasePremium"><app-currency [value]="this.quote?.totalIndictiveQuoteAmt ?? 0"></app-currency></span> -->
                                        <span class="price"
                                            id="IndicativeQuoteTab_BasePremium"><app-currency-dollar-repee
                                                [maximumFractionDigits]="0" [rate]="this.quote?.dollarRate"
                                                [selectedCurrencyDollar]="this.quote?.selectedCurrency=='$ Dollar'"
                                                [value]='this.quoteDandOOptions?.limitOfLiability'></app-currency-dollar-repee></span>
                                    </div>
                                </div>
                                <div class="grid mb-3">
                                    <!-- <div class="col-8">
                                                <span class="name" id="IndicativeQuoteTab_PropertyValue_Label">Property Value:</span> -->
                                    <!-- <span class="price" id="IndicativeQuoteTab_PropertyValue">{{(this.quote.totalSumAssured).toLocaleString('en-IN' , {style: 'currency', currency: 'INR'})}} </span> -->
                                    <!-- <span class="price" id="IndicativeQuoteTab_PropertyValue"><app-currency [maximumFractionDigits]="0" [value]="this.quote?.totalSumAssured ?? 0"></app-currency> </span>
                                            </div> -->
                                </div>
                                <div class="grid">
                                    <div class="col-12">
                                        <ul class="covers-list font-size:small">
                                            <li id="IndicativeQuoteTab_CoversOpted">Covers Opted
                                                (<span>{{selectedCoversCount}}</span>)</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="grid">
                                    <div class="col-12">
                                        <ul class="covers-list font-size:small">
                                            <li id="IndicativeQuoteTab_CoversOpted">Deductibles
                                                (<span>{{deductibilitiesCount}}</span>)</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="grid mb-3">
                                    <div class="col-12">
                                        <button id="IndicativeQuoteTab_ViewDetailsDialog" label="View Details"
                                            type="button" class="btn btn-primary  mr-2"
                                            (click)="openFlexaCoversDialog()">View Details</button>

                                        <!-- <button id="IndicativeQuoteTab_PaidAddOns" type="button" class="btn btn-outline-primary">Paid Add-Ons (10)</button> -->
                                    </div>
                                </div>
                            </div>
                        </p-card>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>