// .cardTabs {
//     padding-top: 250px;
//     position: relative;
//     // display: flex;
// }

.tabs-container {
    margin-top: 4%;
    list-style-type: none;
    padding-left: 0%;
    padding-bottom: 0%;
    margin-bottom: 0;
    height: 55px;
    width: 100%;

    margin-bottom: 15px;
}

.tabs-container .tab-link {

    width: 50%;
    position: relative;
    height: 100%;
    padding: 10px;
    float: left;
    text-align: center;
    border-bottom: 4px solid #ccc;

    &.active {
        color: blue;
        border-bottom: 4px solid blue;
    }

}


// .p-fileUpload {
//     size: 5px;
// }

// .tab-link:active {
//     color: red;
// }


// label.custom-file-label {
//     margin-top: 15px;
//     // opacity: 0;
// }


// // p-fileUpload{
// //     margin-left: 50%;
// //     height: 154px;
// //     margin-top: -38px;
// //     display: inline-flex;
// // }




// .next-Button-1,
// .next-Button-2,
// .next-Button-3 {

//     margin-left: 53%;
//     height: 60px;
//     width: 70px;
//     margin-top: -83px;
//     background-color: #027eef;
//     text-align: center;
//     color: #fff;
//     border-radius: 10px;
//     opacity: 0.8;
//     border: 1px solid #027eef;

// }


// .download-text {
//     padding-top: -2px;
// }

// // .custom-file{
// //     margin-top: 10px;
// // }







// .fileUploadInput {
//     display: grid;
//     grid-gap: 10px;
//     position: relative;
//     z-index: 1;
// }

// .fileUploadInput label {
//     display: flex;
//     align-items: center;
//     color: setColor(primary, 0.5);
//     background: setColor(white);
//     transition: .4s ease;
//     font-family: arial, sans-serif;
//     font-size: .75em;
//     font-weight: regular;
// }

// .fileUploadInput input {
//     position: relative;
//     z-index: 1;
//     padding: 0 gap(m);
//     width: 100%;
//     height: 60px;
//     border: 1px solid #323262;
//     border-radius: 8px;
//     font-family: arial, sans-serif;
//     font-size: 1rem;
//     user-select: none;
//     cursor: pointer;
//     font-weight: regular;
// }

// .fileUploadInput input[type="file"] {
//     padding: 0 gap(m);
// }

// .fileUploadInput input[type="file"]::-webkit-file-upload-button {
//     visibility: hidden;
//     margin-left: 10px;
//     padding: 0;
//     height: 50px;
//     width: 0;
// }

// .fileUploadInput button {
//     position: absolute;
//     right: 0;
//     bottom: 0;
//     width: 50px;
//     height: 50px;
//     line-height: 0;
//     user-select: none;
//     color: rgb(0, 0, 0);
//     background-color: none;
//     border-radius: 0 3px 3px 0;
//     font-family: arial, sans-serif;
//     font-size: 1rem;
//     font-weight: 800;
// }

// .fileUploadInput button svg {
//     width: auto;
//     height: 50%;
// }

// * {
//     margin: 0px;
//     padding: 0px;
//     box-sizing: border-box;
//     border: 0px;
//     outline: 0;
//     background-repeat: no-repeat;
//     appearance: none;
//     border-radius: 0;
//     vertical-align: middle;
//     font-weight: inherit;
//     font-style: inherit;
//     font-family: inherit;
//     text-decoration: none;
//     list-style: none;
//     user-select: text;
//     line-height: 1.333em;
// }

// body {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     height: 100vh;
//     background: rgba(66, 50, 98, 0.05);
// }



// @-moz-document url-prefix() {
//     .fileUploadInput button {
//         display: none
//     }
// }

// .container {
//     margin-top: 50px;
// }
