@import '../quote-sum-insured-details/quote-sum-insured-details.component.scss';

#left-bar {
  position: fixed;
  top: 190px;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  padding-left: 30px;
}

#right-bar {
  position: fixed;
  top: 190px;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  padding: 10px 30px;
}

.custom-style {
  min-height: unset;
  padding: unset;
}

.header-section {
  color: #fff;
  background: transparent linear-gradient(180deg, #0064BB 0%, #633CD2 100%) 0% 0% no-repeat padding-box;
  border-radius: 20px;
}

h6 {
  font-size: 10px !important;
}