<!-- <p>term-and-condition-dialog works!</p> -->
<div class="border">
<div class="imp">
    <img src="assets/dashboard/termscondition.png"
    class="img">
</div>
</div>
<div class="text-center">
    <h3>Terms and Conditions</h3>
    <br>
    <h5>To continue using Alwrite, <br> please agree to our Terms and <br> confirm you acknowledge our <span class="clickable" (click)="this.openInsuredDetailsDialog()"> Privacy Policy</span></h5>
</div>


<div class="card flex justify-content-center full-width">
    <button class="full-width-button" pButton pRipple type="submit" (click)="this.acceptCondition()" label="Accept and Continue" icon="pi pi-check" id="Reset_button"></button>
</div>
