
.card.full-width {
    width: 100%;
}

.full-width-button {
    width: 100%;
    height: 40px;
}

.border{
    width: 95%;
    margin-left: 10px;
    background-color: #a5a3a3cc;
    height: 176px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.img{
    width: 65%;
    margin: 5px;
    margin-left: 53px;
}

.clickable{
    color: rgb(71, 71, 206);
    cursor: pointer;
}