

  
//   .selectBox select {
//     width: 100%;
//     font-weight: bold;
//   }
  
//   .overSelect {
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//   }
  
//   #checkboxes {
//     display: none;
//     border: 1px #dadada solid;
//   }
  
//   #checkboxes label {
//     display: block;
//   }
  
//   #checkboxes label:hover {
//     background-color: #1e90ff;
//   }


.RiskManagementFeatures-body{
    padding-top: -125px;
   
}
.RiskManagementFeatures-body li{
  display: flex;
    align-items: center;
    font-size: 1rem !important;
    margin: 5px 0 !important;
}
  .clauses-list-item{
    display: flex;
    justify-content: flex-start;
    padding: 5px !important;    
}
  .selec-check-list{
    display: flex;
    justify-content: flex-start;
    padding: 5px !important;
}



li{
    display: flex;
    // float: left;
}


ul{
    
    display: inline-block;
}

