table {
    border-spacing:0 !important;
    border-collapse: collapse;
  }

  .highlight {
    //background-color: #f8d7da; /* Light red background */
    color: red;           /* Dark red text */
    font-weight: bold;
}