
<form [formGroup]="this.recordForm" (ngSubmit)="submitted=true; this.saveRecord();">
    <div class="form-container px-3">
        <div class="grid">
            <div class="col-12">
                <p-card>
                    <p-toast></p-toast>
                    <p-toolbar styleClass="">
                        <ng-template pTemplate="left">
                            <h3 class="mb-0" id="ExclusionFormRecordName">{{this.recordSingularName}}</h3>
                        </ng-template>
                        <ng-template pTemplate="right">
                            <button id="EmployeesCountForm_SaveButton" type="submit" pButton pRipple label="Save" icon="pi pi-check" class="p-button-success mr-2"></button>
                            <button id="EmployeesCountForm_CancelButton" pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-danger mr-2 pr-3" (click)="this.onCancel()"></button>
                        </ng-template>
                    </p-toolbar>
                </p-card>
            </div>
            <div class="col">

                <p-card>
                    <div class="card p-fluid">
                    <div class="field">
                        <label id="EmployeesCountForm_countFromLabel" for="EmployeesCount">Count From</label>
                            <input  id="EmployeesCountForm_countFrom" type="number"  pInputText id="countFrom" formControlName="countFrom" required
                                 autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.value['countFrom']}" (focusout)="onFocusOutCountEvent()"/>
                                    <small id="EmployeesCountForm_countFromValidationError" class="ng-dirty ng-invalid" *ngIf="submitted && !recordForm.value['countFrom']">Count From is required.</small>
                    </div>
                    <div class="field">
                        <label id="EmployeesCountForm_countToLabel" for="EmployeesCount">Count To</label>
                            <input  id="EmployeesCountForm_countTo" type="number"  pInputText id="countTo" formControlName="countTo" required
                                   [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.value['countTo']}" (focusout)="onFocusOutCountEvent()"/>
                                    <small id="EmployeesCountForm_countToValidationError" class="ng-dirty ng-invalid" *ngIf="submitted && !recordForm.value['countTo']">Count To is required.</small>
                    </div>
                    <div class="field">
                        <label id="EmployeesCountForm_formattedString" for="abbreviation">Employees Count</label>
                        <input readonly id="EmployeesCountForm_formattedString" class="form-control" type="text" pInputText id="formattedString" formControlName="formattedString" required [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.value['formattedString']}" />
                        <small id="EmployeesCountForm_formattedStringValidationError" class="ng-dirty ng-invalid" *ngIf="submitted && !recordForm.value['formattedString']">Employees Count is required.</small>
 
                    </div>

                    <div class="field">
                        <label id="EmployeesCountForm_StatusLabel" for="status">Status</label>
                        <p-toggleButton id="EmployeesCountForm_Status" class="form-control" formControlName="status" onLabel="Active" offLabel="Inactive" onIcon='{{"pi pi-check"}}' offIcon="pi pi-times" iconPos="right"></p-toggleButton>
                    </div>
                    </div>
                </p-card>
            </div>
            <div class="col">

            </div>

        </div>
    </div>
</form>
