.field-checkbox>label,
.field-radiobutton>label {
    font-size: 14px;
}

.forAddonCheckBox {
    margin-left: 60px;

}

.forAddonLabel {
    margin-left: 100px;
    padding-bottom: 10px;
}

.forAddonDiv {
    border-bottom: 1px solid rgb(222 226 230);
    margin-top: 13px;
    padding-bottom: 14px;
}

.forAddonTerrDiv {
    margin-top: 13px;
    padding-bottom: 13px;
}

.forAddonInput {
    margin-left: 100px;
    width: 24%;
}