@import url(../basic-details/basic-details.component.scss);
.btn-blue1 {
    color: #fff;
    background-color: #0064BB;
    border-color: #0064BB;
    padding: 1rem 2rem;
    border-radius: 7px;
    font: normal normal bold 1.125rem/1.5rem OpenSans-SemiBold;
    height: 48px;
    border: 1px solid #fff;
    outline: none;
    min-width: 150px;
    cursor: pointer;
}