.separator {
    display: inline-block;
    width: 2px;
    height: 20px;
    background-color: black;
    margin-right: 10px;
}
// .rectangle-box {
//     display: inline-block;
//     border: 1px solid black; 
//     padding: 2px 5px; 
//     border-radius: 5px;
// }
:host ::ng-deep .p-fileupload .p-fileupload-content {
    padding: 1rem 1rem;
}

.ui-messages-error .ui-messages-error-icon {
  display: none;
}

:host ::ng-deep .p-button .p-button-icon-left {
    margin-left: 10px !important;
}

:host ::ng-deep p-button.p-element.ng-star-inserted {
    display: none;
}

.button-container {
    align-items: center; 
  }
  .view-link {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #f2f2f2;
  }

  .align-Right {
    float: right;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 1rem;
}

.p-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}
//add new button
.add-button {
  background-color: transparent;
  border: none;
  width: 100px;
  margin-left: 85%;
  margin-top: 5%;
  font-size: small;
}

.add-button:hover {
  width: 100px; /* or whatever width you want it to be on hover */
}

.align-right {
  float: right;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 1rem;
}
.form-row {
  display: flex;
  align-items: center;
}