  .content {
    padding: 20px;
    text-align: center;
  }
  
  .content p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .button-group .btn {
    /* padding: 10px 20px; */
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .button-group .btn.yes {
    background: #4caf50;
    color: white;
    height: 30px;
  }
  
  .button-group .btn.yes:hover {
    background: #45a049;
  }
  
  .button-group .btn.no {
    background: #f44336;
    color: white;
    height: 30px;
  }
  
  .button-group .btn.no:hover {
    background: #e53935;
  }
  