@media (max-width: 768px) {
    .mobile-quote-create {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0;
        z-index: 10;
        background: inherit;
    }

    .mobile-quote-create-button {
        width: 100%;
        height: 50px;
        border-radius: unset;
        background-color: #2156c2;
        font: normal normal 600 1.3rem/2rem OpenSans-Regular !important;
    }

    :host ::ng-deep .p-calendar .p-datepicker {
        width: 250px;
    }

    :host ::ng-deep .custom-multiselect .p-multiselect {
        border: 1px solid #DBDBDB;
        width: 100%;
        height: 30px;
    }
}

.multiSelect{
    border: 1px solid lightgray;
    border-radius: 5px;
}
:host ::ng-deep .p-calendar{
    margin-top: 9px;
}
:host ::ng-deep .p-selectbutton{
    margin-top: 9px;
}
.btn{
    margin-top: 9px;
}
:host ::ng-deep .p-component{
    line-height: 20px;
}