
    <div *ngIf="this.quote?.productId?.shortName == 'IAR'">
    <div class="grid">
        <div class="mx-3" style="width: 500px" >
            <p-card>
                <h4><b>Section <span>&#8544;</span>: Property Demage (PD)</b></h4>
                <div class="pt-5">
                    <ul>
                        <li class="list-group-item" >
                            <div class="flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="flex">
                                        <div class="flex-shrink-0 ms-2" id="BSC_Tab_covers">
                                            <h5 style="font-weight: 900;"><b>(B) Machinery/Electrical BreakDown<span style="color: blue;">*</span></b></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-shrink-0 mr-4" >
                                    <h4>30.00</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="pt-2">
                    <ul>
                            <li class="list-group-item" >
                            <div class="flex align-items-center">
                                <div class="flex-grow-1">
                                        <div class="flex-shrink-0 ms-2" id="BSC_Tab_covers">
                                            <div class="grid">
                                                    <div class="pt-6 p-4 col-2">
                                                        <h6><u>Less</u></h6>
                                                    </div>
                                                    <div class="pt-6 p-4 col-6">
                                                        <p>Reduction in Sum Insured on accountof piping etc</p>
                                                    </div>
                                                    <div class="pt-6 p-4 col-2">
                                                        <input type="text" placeholder="10.00%"  style=" width: 45px; border: 1px solid  rgb(97, 97, 97);">
                                                    </div>
                                                    <div class="pt-6 p-4 col-2">
                                                        <input type="text" placeholder="2.00" style=" width: 45px; border: 1px solid  rgb(97, 97, 97);">
                                                    </div>
                                            </div>
                                            <div class="grid">
                                                    <div class="pt-6 p-4 col-2">
                                                        <h6><b>Total</b></h6>
                                                    </div>
                                                    <div class="pt-5 p-4 col-8">

                                                    </div>
                                                    <div class="pt-5 p-4 col-2">
                                                        <h6><b>18.00</b></h6>
                                                    </div>
                                            </div>
                                        </div>
                                   </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </p-card>
        </div>
        <div class="mx-3" style="width: 500px" >
            <p-card>
                <h4 style="font-weight: 900;"><b>Section <span>&#8545;</span>: Business Interruption(BI)</b></h4>
                <div class="pt-5">
                    <ul>
                        <li class="list-group-item" >
                            <div class="flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="flex">
                                        <div class="flex-shrink-0 ms-2" id="BSC_Tab_covers">
                                            <h5><b>(B) Machinery Loss Of Profit(MBLOP)<span style="color: blue;">*</span></b></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-shrink-0 mr-4" >
                                    <h4>30.00</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="pt-2">
                        <a href=""><u>View More</u></a>
                    </div>
                </div>
                <div class="pt-2">
                    <ul>
                            <li class="list-group-item" >
                            <div class="flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="flex">
                                        <div class="flex-shrink-0 ms-2" id="BSC_Tab_covers">
                                            <div class="pt-2 p-3">
                                                <h6><i class="pi pi-angle-right" style="    margin-left: -18px;padding: 5px;"></i>Gross Profit</h6>
                                            </div>
                                            <div class="pt-2 p-3">
                                                <h6> <i class="pi pi-angle-right" style="    margin-left: -18px;padding: 5px;"></i>Indmanity Period</h6>
                                            </div>
                                            <div class="pt-2 p-3">
                                                <h6> <i class="pi pi-angle-right" style="    margin-left: -18px;padding: 5px;"></i>Terrorism</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-shrink-0" id="BSC_Tab_covers_Amount">
                                    <div class="pt-2 CroreInput p-3" style="display: flex;">
                                        <h6> Crore  <span class="pl-4" style="font-size: 12px; text-align: end;"><b>30.00</b></span></h6>
                                    </div>
                                    <div class="pt-2  p-3" style="display: flex;">
                                        <h6> Months <span class="pl-4 text-right " style="font-size: 12px;" ><b>12</b></span></h6>
                                     </div>
                                    <div class="pt-2 terrorismValid p-3" style="display: flex;">
                                        <h6> <span class="pl" style="font-size: 12px;"><b>Yes</b></span></h6>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </p-card>
        </div>
    </div>
    <div class="grid">
        <div class="mx-3" style="width: 500px" >
            <p-card>
                <ul>
                    <li class="list-group-item" >
                            <div class="flex align-items-center pt-3 pb-3" >
                                <div class="flex-grow-1 ">
                                    <div class="flex">
                                        <div class="flex-shrink-0 ms-2 " id="BSC_Tab_covers">
                                            <h5><b>Total PD Sum Insured </b></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-shrink-0" id="BSC_Tab_covers_Amount">
                                    <h5><b>118.00</b></h5>
                                </div>
                            </div>
                        </li>
                    </ul>
            </p-card>
        </div>
        <div class="mx-3" style="width: 500px" >
            <p-card>
                    <ul>
                        <li class="list-group-item" >
                            <div class="flex align-items-center pt-3 pb-3">
                                <div class="flex-grow-1">
                                    <div class="flex">
                                        <div class="flex-shrink-0 ms-2" id="BSC_Tab_covers">
                                            <h5><b>Total BI Sum Insured</b> </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-shrink-0" id="BSC_Tab_covers_Amount">
                                    <h5><b>30.00</b></h5>
                                </div>
                            </div>
                        </li>
                    </ul>
            </p-card>
        </div>
    </div>
        <div class="grid">
            <div class="mx-3" style="width: 1020px" >
                <p-card>
                    <ul>
                        <li class="list-group-item" >
                            <div class="flex align-items-center pt-3 pb-3">
                                <div class="flex-grow-1">
                                    <div class="flex">
                                        <div class="flex-shrink-0 ms-2" id="BSC_Tab_covers">
                                            <h5><b>Total Sum Insured(PD+BI)</b> </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-shrink-0" id="BSC_Tab_covers_Amount">
                                    <h5><b>148.00</b></h5>
                                </div>
                            </div>
                        </li>
                    </ul>
                </p-card>
            </div>
        </div>
    </div>
