
<form [formGroup]="this.recordForm" (ngSubmit)="submitted=true; this.saveRecord();">
    <div class="form-container px-3">
        <div class="grid">
            <div class="col-12">
                <p-card>
                    <p-toast></p-toast>
                    <p-toolbar styleClass="">
                        <ng-template pTemplate="left">
                            <h3 class="mb-0" id="ExclusionFormRecordName">{{this.recordSingularName}}</h3>
                        </ng-template>
                        <ng-template pTemplate="right">
                            <button id="thirdPartyAdministratorsForm_SaveButton" type="submit" pButton pRipple label="Save" icon="pi pi-check" class="p-button-success mr-2"></button>
                            <button id="thirdPartyAdministratorsForm_CancelButton" pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-danger mr-2 pr-3" (click)="this.onCancel()"></button>
                        </ng-template>
                    </p-toolbar>
                </p-card>
            </div>
            <div class="col">

                <p-card>
                    <div class="card p-fluid">
                    <div class="field">
                        <label id="thirdPartyAdministratorsForm_NameLabel" for="name">GMC Master</label>
                            <input  id="thirdPartyAdministratorsForm_Name" type="text"  pInputText id="name" formControlName="parentTabName" required
                                 autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.value['parentTabName']}" />
                                    <small id="thirdPartyAdministratorsForm_NameValidationError" class="ng-dirty ng-invalid" *ngIf="submitted && !recordForm.value['name']">Parent Name is required.</small>
                    </div>                 
                    </div>
                </p-card>
            </div>
            <div class="col">

            </div>

        </div>
    </div>
</form>
