<form class="" [formGroup]="coBrokerForm" (ngSubmit)="this.submitCoBrokerForm()" #$form="ngForm">
    <div formArrayName="formArray">
        <p-table [value]="this.formArray.controls">
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th class="text-center">Company Name</th>
                    <th class="text-center">Share Percentage</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-form let-i="rowIndex">
                <tr [formGroupName]="i">
                    <td>{{i+1}}</td>
                    <td>
                        <input id="" pInputText formControlName="companyName" type="text" class="p-inputtext1"
                            placeholder="Enter Company Name">
                    </td>
                    <td>
                        <input id="" pInputText formControlName="share" type="number" class="p-inputtext1"
                            placeholder="Enter Share Percentage">
                    </td>
                    <td>
                        <button (click)="this.deleteFormBasedOnIndex(i)" type="button" id="BSC_card_DeleteCover"
                            class="btn btn-danger mr-2"> <i class="pi pi-trash mr-1"></i>Delete
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="col-12 mb-5 text-right">
        <a class="add-more" id="Delete_PortableEquipments_Form" (click)="this.addFormToArray()">+ Add More Co-Broker</a>
    </div>
    <div class="col-12 mt-3">
        <div class="flex justify-content-end">
            <button class="btn btn-success mr-4" type="submit" id="Save_PortableEquipments_Dialog">Save</button>
            <button class="btn btn-outline-light mt-1" type="button" (click)="cancel()">Close</button>
        </div>
    </div>
</form>