.dropdown-container {
    position: relative;
    width: 300px;
}

.dropdown-toggle {
    width: 75%;
    padding: 10px;
    color: gray;
    border: 1px solid #e8f4ff;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 500px;
    width: 700px;
    /* Restrict height for scrolling */
    overflow-y: auto;
    /* Enable scrolling */
    border: 1px solid #ddd;
    background: #fff;
    z-index: 1000;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Container Styling */
.table-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Table Styling */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.styled-table thead tr {
    background: #007bff;
    color: #fff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.styled-table tbody tr {
    background-color: #f9f9f9;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f1f1f1;
}

// .styled-table tbody tr:hover {
//     background-color: #e8f4ff;
// }

.styled-table td {
    text-align: center;
}

/* Status Styling */
.sent {
    color: #28a745;
    font-weight: bold;
}

.pending {
    color: #ffc107;
    font-weight: bold;
}

/* Delete Button Styling */
.delete-btn {
    background: none;
    border: none;
    color: #ff4d4f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease;
}

// .delete-btn:hover {
//     color: #d11a2a;
// }

::ng-deep .custom-button {
    height: 30px;
}

::ng-deep .custom-button .p-badge {
    height: 24px; 
    width: 24px; 
    font-size: 14px;
    line-height: 24px;
}
