<p-dataView #rm [value]="riskManagementFeatures" [paginator]="true" [rows]="10"
    filterBy="riskManagementFeaturesdict.name" layout="list" id="RiskManagementFeatures_Dataview">
    <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row md:justify-content-between">
            <span class="p-input-icon-left">
                <input type="search" pInputText placeholder="Search by Name" id="RiskManagementFeatures_SearchBar"  (input)="rm.filter($event.target.value)">
            </span>
        </div>
    </ng-template>
    <ng-template let-rmFeature pTemplate="listItem">
        <div class="col-12">
            <div class="grid">
                <div class="col-1 pt-3">
                    <p-checkbox class="mr-2" id="RiskManagementFeatures_RMFeature" name="rmFeatures" value="{{rmFeature?.riskManagementFeaturesdict?._id}}"
                        [(ngModel)]="selectedRiskManagementFeatures"
                        inputId="{{rmFeature?.riskManagementFeaturesdict?._id}}" [disabled]="this.riskManagementPermissionsForRM"></p-checkbox>
                </div>
                <div class="col-11 flex align-items-center">
                    <label for="4" id="RiskManagementFeatures_Name">
                        {{rmFeature?.riskManagementFeaturesdict?.name}}
                    </label>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>