.custom-step-header {
    height: 93vh;
    position: fixed;
}

.custom-step-content {
    position: relative;
    left: 320px;
}

:host ::ng-deep .p-steps-item {
    padding-bottom: 30px;
    justify-content: unset !important;
}

:host ::ng-deep .p-steps ul {
    display: block;
}

:host ::ng-deep .p-steps ul li a {
    display: inline;
}

:host ::ng-deep .p-steps ul li a .p-steps-number {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

:host ::ng-deep .p-steps ul li a .p-steps-title {
    display: inline;
}

:host ::ng-deep .p-steps .p-steps-item:before {
    content: none;
}

a{
    text-decoration: none;
    color: black;
}

a:focus{
    color:#0064BB;
}

.custom-anchor-index{
    background-color: #0064BB; 
    color:#fff; min-height:20px; 
    min-width: 20px; 
    border-radius: 10px;
}