
<form [formGroup]="this.recordForm" (ngSubmit)="submitted=true; this.saveRecord();">
    <div class="form-container px-3">
        <div class="grid">
            <div class="col-12">
                <p-card>
                    <p-toast></p-toast>
                    <p-toolbar styleClass="">
                        <ng-template pTemplate="left">
                            <h3 class="mb-0" id="ExclusionFormRecordName">{{this.recordSingularName}}</h3>
                        </ng-template>
                        <ng-template pTemplate="right">
                            <button id="salarySlabsForm_SaveButton" type="submit" pButton pRipple label="Save" icon="pi pi-check" class="p-button-success mr-2"></button>
                            <button id="salarySlabsForm_CancelButton" pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-danger mr-2 pr-3" (click)="this.onCancel()"></button>
                        </ng-template>
                    </p-toolbar>
                </p-card>
            </div>
            <div class="col">

                <p-card>
                    <div class="card p-fluid">
                        <div class="field" *ngIf="this.role.name == AllowedRoles.ADMIN">
                            <label id="wcSalarySLabsForm_PartnerLabel" for="name">Partner</label>
                            <p-autoComplete [disabled]="this.mode == 'edit'" id="wcSalarySLabsForm_Partner" [dropdown]="true"
                                optionValue="value" field="label" formControlName="partnerId"
                                [suggestions]="this.optionsPartners" (completeMethod)="this.searchOptionsPartners($event)"
                                [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.controls['partnerId'].valid}"></p-autoComplete>
                            <small id="wcSalarySLabsForm_Partner_ValidationError"
                                *ngIf="this.recordForm.controls['partnerId'].errors?.required" class="ng-invalid">This field
                                Required.</small>
                        </div>
                        <div class="field">
                            <label id="salarySlabsForm_ProductLabel" for="productId">Product</label>
                            <p-autoComplete id="salarySlabsForm_Product" [dropdown]="true" [suggestions]="this.optionsProducts" field="label" formControlName="productId" (completeMethod)="this.searchOptionsProducts($event)" [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.controls['productId'].valid}"></p-autoComplete>
                        </div>
                        <div class="field">
                            <label id="salarySlabsForm_fromSalaryLabel" for="fromSalary">Salary From</label>
                                <input  id="salarySlabsForm_fromSalary" type="number"  pInputText id="fromsalary" formControlName="fromSalary" required
                                       [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.value['fromSalary']}" (focusout)="onFocusOutSalaryEvent()"/>
                                        <small id="salarySlabsForm_fromSalaryValidationError" class="ng-dirty ng-invalid" *ngIf="submitted && !recordForm.value['fromSalary']">Salary From is required.</small>
                        </div>
                        <!-- <div class="field">
                            <label id="salarySlabsForm_salaryFromLabel" for="fromSalary">Salary From</label>
                                <input  id="salarySlabsForm_salaryFrom" type="number"  pInputText id="fromsalary" formControlName="fromSalary" required
                                      [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.value['fromSalary']}" (focusout)="onFocusOutSalaryEvent()"/>
                                        <small id="salarySlabsForm_salaryFromValidationError" class="ng-dirty ng-invalid" *ngIf="submitted && !recordForm.value['fromSalary']">Salary From is required.</small>
                        </div> -->
                        <div class="field">
                            <label id="salarySlabsForm_salaryToLabel" for="toSalary">Salary To</label>
                                <input  id="salarySlabsForm_salaryTo" type="number"  pInputText id="tosalary" formControlName="toSalary" required
                                       [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.value['toSalary']}" (focusout)="onFocusOutSalaryEvent()"/>
                                        <small id="salarySlabsForm_salaryToValidationError" class="ng-dirty ng-invalid" *ngIf="submitted && !recordForm.value['toSalary']">Salary To is required.</small>
                        </div>
                        <div class="field">
                            <label id="salarySlabsForm_salary" for="salaryStr">Salary</label>
                            <input readonly id="salarySlabsForm_salary" class="form-control" type="text" pInputText id="salary" formControlName="salaryStr" required [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.value['salaryStr']}"/>
                            <small id="salarySlabsForm_salaryValidationError" class="ng-dirty ng-invalid" *ngIf="submitted && !recordForm.value['salaryStr']">Salary is required.</small>
     
                        </div>
                        <div class="field">
                            <label id="salarySlabsForm_effectiveStartDateLabel" for="effectiveStartDate">Effective Start Date</label>
                            <p-calendar  class="form-control" id="salarySlabsForm_EffectiveStartDate"  type="date" [showIcon]="true" id="effectiveStartDate" formControlName="effectiveStartDate" dateFormat="yy-mm-dd"></p-calendar>

                        </div>
                    <div class="field">
                        <label id="salarySlabsForm_StatusalarySlabsel" for="status">Status</label>
                        <p-toggleButton id="salarySlabsForm_Status" class="form-control" formControlName="active" onLabel="Active" offLabel="Inactive" onIcon='{{"pi pi-check"}}' offIcon="pi pi-times" iconPos="right"></p-toggleButton>
                    </div>
                    <div class="field" *ngIf="this.mode == 'edit' && this.user?.partnerId?.partnerType == 'self' && recordForm.controls.taskStatus.value">
                        <label for="taskStatus" id="wcSalarySLabsForm_taskStatusLabel">Task Status</label>
                        <input id="wcSalarySLabsForm_taskStatus" class="form-control" type="text" pInputText id="taskStatus"
                        formControlName="taskStatus" />
                    </div>

                    <div class="field" *ngIf="this.mode == 'edit'  && this.user?.partnerId?.partnerType == 'self' && recordForm.controls.taskStatus.value == 'failed'">
                        <label for="failedMessage" id="wcSalarySLabsForm_failedMessageLabel">Failed Reasson</label>
                        <input id="wcSalarySLabsForm_failedMessage" class="form-control" type="text" pInputText id="failedMessage"
                        formControlName="failedMessage" />
                    </div>
                    </div>
                </p-card>
            </div>
            <div class="col">

            </div>

        </div>
    </div>
</form>
