<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2 flex">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="this.createRecord()"></button>
                        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                            (click)="clear(dt)"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center mr-2">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>

                </ng-template>
            </p-toolbar>

            <p-table [rowHover]="true" #dt [value]="this.records" [lazy]="true" (onLazyLoad)="this.loadRecords($event)"
                responsiveLayout="scroll" dataKey="_id" [selection]="this.selectedRecords"
                (selectionChange)="this.onSelectionChange($event)" [selectAll]="selectAll"
                (selectAllChange)="this.onSelectAllChange($event)" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                [rows]="20" [totalRecords]="totalRecords" [loading]="loading" [globalFilterFields]="['name','email']">

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="url">
                            <div class="flex justify-content-between align-items-center">
                                <span style="white-space: nowrap">
                                    URL
                                </span>
                                <div style="white-space: nowrap">
                                    <p-columnFilter type="text" field="url" display="menu" [showMatchModes]="false"
                                        [showOperator]="false" matchMode="in" operator="and"
                                        placeholder="Search by URL"></p-columnFilter>
                                    <p-sortIcon field="url"></p-sortIcon>
                                </div>
                            </div>
                        </th>
                        <th pSortableColumn="jsonString">
                            <div class="flex justify-content-between align-items-center">
                                <span style="white-space: nowrap">
                                    JSON String
                                </span>
                                <div style="white-space: nowrap">
                                    <!-- <p-columnFilter type="text" field="jsonString" display="menu" [showMatchModes]="false"
                                        [showOperator]="false" matchMode="in" operator="and"
                                        placeholder=""></p-columnFilter> -->
                                    <p-sortIcon field="jsonString"></p-sortIcon>
                                </div>
                            </div>
                        </th>
                        <th pSortableColumn="sequenceNumber">
                            <div class="flex justify-content-between align-items-center">
                                <span style="white-space: nowrap">
                                    Sequence Number
                                </span>
                                <div style="white-space: nowrap">
                                    <p-sortIcon field="sequenceNumber"></p-sortIcon>
                                </div>
                            </div>
                        </th>

                        <th pSortableColumn="productId">
                            <div class="flex justify-content-between align-items-center">
                                <span style="white-space: nowrap">Product </span>
                                <p-columnFilter field="productId" matchMode="equals" display="menu"
                                    [showClearButton]="false" [hideOnClear]="true" [showApplyButton]="false"
                                    [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                    <ng-template pTemplate="header">
                                        <div class="px-3 pt-3 pb-0">
                                            <span class="font-bold">Product filter</span>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="filter" let-group let-filter="filterCallback">
                                        <p-autoComplete [(ngModel)]="selectedProductId" [suggestions]="optionsProductId"
                                            (completeMethod)="getOptionsProductId($event)" field="productId"
                                            [dropdown]="true" [multiple]="true" (onSelect)="handleFilter($event)"
                                            (onUnselect)="handleFilter($event)">
                                            <ng-template let-group pTemplate="item">
                                                <div class="country-item">
                                                    <div>{{group.label}}</div>
                                                </div>
                                            </ng-template>
                                            <ng-template let-group pTemplate="selectedItem">
                                                <span style="font-size:18px">{{group.label}}</span>
                                            </ng-template>
                                        </p-autoComplete>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="partnerId">
                            <div class="flex justify-content-between align-items-center">
                                <span style="white-space: nowrap">Partner</span>
                                <p-columnFilter field="partnerId" matchMode="equals" display="menu"
                                    [showClearButton]="false" [hideOnClear]="true" [showApplyButton]="false"
                                    [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                    <ng-template pTemplate="header">
                                        <div class="px-3 pt-3 pb-0">
                                            <span class="font-bold">partnerId filter</span>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="filter" let-group let-filter="filterCallback">
                                        <p-autoComplete [(ngModel)]="selectedPartners" [suggestions]="optionsPartners"
                                            (completeMethod)="getOptionsPartnerId($event)" field="partnerId"
                                            [dropdown]="true" [multiple]="true"
                                            (onSelect)="partnerIdHandleFilter($event)"
                                            (onUnselect)="partnerIdHandleFilter($event)">
                                            <ng-template let-group pTemplate="item">
                                                <div class="country-item">
                                                    <div>{{group.label}}</div>
                                                </div>
                                            </ng-template>
                                            <ng-template let-group pTemplate="selectedItem">
                                                <span style="font-size:18px">{{group.label}}</span>
                                            </ng-template>
                                        </p-autoComplete>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>

                        <!-- <th></th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr (click)="this.editRecord(item)">
                        <td>
                            <p-tableCheckbox [value]="item"></p-tableCheckbox>
                        </td>
                        <td>
                            {{item.url}}
                        </td>
                        <td>
                            {{item.jsonString}}
                        </td>
                        <td>
                            {{item.sequenceNumber}}
                        </td>
                        <td>
                            <a routerLink="/backend/admin/products/{{item.productId?._id}}">{{item.productId?.type}}</a>
                        </td>
                        <td>
                            <a
                                routerLink="/backend/admin/partners/{{item?.partnerId?._id}}">{{item.partnerId?.name}}</a>

                        </td>
                        <!-- <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="this.editRecord(item)"></button>
                            </div>
                        </td> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="deleteRecordDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="this.selectedRecord">Are you sure you want to delete <b>{{selectedRecord.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="this.deleteRecordDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="this.deleteRecord()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="this.deleteSelectedRecordsDialog" header="Confirm" [modal]="true"
            [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected records?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="this.deleteManyRecordsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="this.deleteSelectedRecords()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>