// .no-border {
//     border: none !important;
//   }

  ::ng-deep .p-inputnumber input {
    border: none !important;
    box-shadow: none !important;
  }
  
  ::ng-deep .p-inputtext input {
    border: none !important;
    box-shadow: none !important;
  }

  ::ng-deep .input-with-border {
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 4px;  
    width: auto;  
  }
  ::ng-deep .input-with-border {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;  
    width: auto;  
  }

  ::ng-deep .custom-header th {
    background-color: #4a5ebb ;
    color: white; 
    color: white !important; 
    font-size: larger !important;
    font-weight: 300 !important;
}

::ng-deep .p-datatable-thead .custom-header{
  background-color: #334FC7 ;
  color: white !important; 
  font-size: larger !important;
  font-weight: 300 !important;
}

::ng-deep  .custom-header{
  color: #ccc !important;
  font-size: larger !important;
  font-weight: 300 !important;
}