::ng-deep .customPopup.p-dialog .p-accordion p-accordiontab:first-child .p-accordion-header .p-accordion-header-link{
    display: flex;
}

.breakup-indicative-container.card{
    margin-bottom: 0;
}
.breakup-indicative-collapse {
    color: #6C7888;
    font: normal normal 1rem/1.2rem OpenSans-SemiBold;
    margin-left: 30px;
}
.breakup-indicative-collapse > div {
    padding-bottom: 10px;
}
.breakup-indicative-container ul.status-list {
    margin-top: 10px;
}
.breakup-indicative-container ul.status-list li {
    padding: 0 0 5px 20px;
    min-height: auto;
    display: inline-block;
    margin-right: 10px;
    background: url(../../../../assets/icons/tick-yellow.png) no-repeat left center;
    min-width: 30%;
    font: normal normal normal 1rem/1.7rem OpenSans-Regular;
    color: #6C7888;
}
.breakup-indicative-container ul.status-list li strong {
    font-family: OpenSans-SemiBold;
}
.breakup-indicative-container ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link{
    font: normal normal 1.2rem/2rem OpenSans-Bold;
    color: #000000;
    background-color: transparent;
    border: 0;
}
.breakup-indicative-container ::ng-deep p-accordiontab:nth-of-type(odd) {
    background: #F8F8F8;
    display: block
}
.breakup-indicative-container ::ng-deep .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    border-color: transparent;
}
.breakup-indicative-container ::ng-deep .p-accordion .p-accordion-content {
    border: transparent;
    background: transparent;
}
.breakup-indicative-container ::ng-deep .p-accordion .p-accordion-header .pi-chevron-right:before {
    flex-shrink: 0;
    width: 16px;
    height: 15px;
    margin-left: auto;
    content: "";
    background-image: url(../../../../assets/icons/open-arrow-yellow.svg);
    background-repeat: no-repeat;
    transition: transform .2s ease-in-out;
    padding-left: 30px;
    display: inline-block;
}
.breakup-indicative-container ::ng-deep .p-accordion .p-accordion-header .pi-chevron-down:before {
    content: "";
    background-image: url(../../../../assets/icons/close-arrow-yellow.svg);
    width: 16px;
    height: 15px;
    display: inline-block;
}
.breakup-indicative-container .total-section {
    font: normal normal bold 1.5rem/2rem OpenSans-Bold;
    color: #000000;
    background-color: transparent;
    padding: 0px 14px 0 42px;
    width: 100%;
    margin-top: 10px;
}
@media screen and (min-width:1681px){
// .breakup-indicative-container ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link{
//     font: normal normal 2rem/2.7rem OpenSans-Bold;
// }
.breakup-indicative-collapse {
    font: normal normal 14px/19px OpenSans-SemiBold;
}
.breakup-indicative-container ul.status-list li {
    font: normal normal normal 12px/17px OpenSans-Regular;
}
.breakup-indicative-container .total-section {
    font: normal normal bold 20px/27px OpenSans-Bold;
}
}


