<div class="terms-container">
    <h1>Terms And Conditions</h1>
    <p>Please read these terms and conditions carefully before using our website.</p>
    <ol>
        <li>
            <strong>1 Intellectual Property:</strong> 
            The software used on this website is owned exclusively by Inxchange Private Limited. All intellectual property rights pertaining to the software, including but not limited to copyrights, trademarks, and patents, remain with the software provider.
        </li>
        <li>
            <strong>2 Client's Data:</strong> 
            All data provided by clients through the use of our website is owned by the respective clients. Inxchange Private Limited does not claim ownership over any data provided by users of the website.
        </li>
        <li>
            <strong>3 Limitation of Liability:</strong> 
            The software provided by Inxchange Private Limited is intended to assist clients in managing insurance-related activities. Inxchange Private Limited does not warrant that the software will be error-free or meet all client requirements. The software is provided "as is" and the use of the software is at the client's own risk.
        </li>
        <li>
            <strong>4 Indemnification:</strong> 
            Clients agree to indemnify and hold harmless Inxchange Private Limited from any and all claims, liabilities, damages, losses, or expenses, including reasonable attorneys' fees and costs, arising out of or in any way connected with the client's use of the software.
        </li>
        <li>
            <strong>5 Privacy Policy:</strong> 
            Our privacy policy outlines how we collect, use, and protect your personal information. By using our website, you consent to the collection and use of information as described in our Privacy Policy.
        </li>
        <li>
            <strong>6 User Conduct:</strong> 
            You agree to use our website only for lawful purposes and in a manner that does not infringe the rights of, restrict, or inhibit the use and enjoyment of the website by any third party. Prohibited behavior includes harassing or causing distress or inconvenience to any other user, transmitting obscene or offensive content, or disrupting the normal flow of dialogue within our website.
        </li>
        <li>
            <strong>7 Security:</strong> 
            You are responsible for maintaining the confidentiality of any usernames, passwords, and account information associated with your use of our website. You agree to notify us immediately of any unauthorized access to or use of your account.
        </li>
        <li>
            <strong>8 Third-Party Links:</strong> 
            Our website may contain links to third-party websites or services that are not owned or controlled by us. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party websites or services. You acknowledge and agree that Inxchange Private Limited shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods, or services available on or through any such websites or services.
        </li>
        <li>
            <strong>9 Limitation of Claims:</strong> 
            In no event shall Inxchange Private Limited be liable for any direct, indirect, incidental, special, consequential, or punitive damages arising from the use of the software or any services provided through the software.
        </li>
        <li>
            <strong>10 Termination:</strong> 
            We reserve the right to terminate or suspend access to our website immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach these Terms and Conditions.
        </li>
        <li>
            <strong>11 Disclaimer of Warranties:</strong> 
            The information, software, products, and services included or available through our website may include inaccuracies or typographical errors. We do not warrant that the content of our website is accurate, reliable, or correct; that our website will be available at any particular time or location; or that any defects or errors will be corrected.
        </li>
        <li>
            <strong>12 Changes to the Service:</strong> 
            We reserve the right to modify or discontinue, temporarily or permanently, our website or any part of it with or without notice. You agree that Inxchange Private Limited shall not be liable to you or to any third party for any modification, suspension, or discontinuance of our website.
        </li>
        <li>
            <strong>13 Governing Law:</strong> 
            These terms and conditions shall be governed by and construed in accordance with the laws of Mumbai. Any dispute arising under these terms and conditions shall be subject to the exclusive jurisdiction of the courts of Mumbai.
        </li>
        <li>
            <strong>14 Entire Agreement:</strong> 
            These Terms and Conditions constitute the entire agreement between you and Inxchange Private Limited regarding your use of our website, superseding any prior agreements between you and us regarding the same subject matter.
        </li>
        <li>
            <strong>15 Waiver and Severability:</strong> 
            Our failure to enforce any right or provision of these Terms and Conditions will not be considered a waiver of those rights. If any provision of these Terms and Conditions is held to be invalid or unenforceable by a court, the remaining provisions of these Terms and Conditions will remain in effect.
        </li>
        <li>
            <strong>Contact Us:</strong> 
            If you have any questions about these terms and conditions, please contact us at <a href="mailto:business@alwrite.com">business&#64;alwrite.com</a>.
        </li>
        <li>
            <strong>Non-Disclosure Agreement and Non-Compete:</strong>
            <ul>
                <li>
                    <strong>a) Non-Disclosure Agreement (NDA):</strong> 
                    Clients agree not to disclose, directly or indirectly, any confidential information obtained through the use of our software ("Confidential Information"). Confidential Information includes but is not limited to proprietary algorithms, business processes, and technical specifications. Clients shall take all reasonable precautions to protect the confidentiality of such information.
                </li>
                <li>
                    <strong>b) Non-Compete:</strong> 
                    Clients agree not to develop, create, or market any software or technology that competes with the functionalities of Inxchange Private Limited's software using data obtained through the use of our website ("Competing Software"). This restriction applies during the term of use of our software and for a period of 3 years after the termination of the client's account or access to our website.
                </li>
                <li>
                    <strong>c) Exceptions:</strong> 
                    This clause shall not prevent clients from independently developing similar functionalities or software without using Confidential Information obtained through the use of our software.
                </li>
                <li>
                    <strong>d) Enforcement:</strong> 
                    In the event of a breach or threatened breach of this NDA and Non-Compete clause, Inxchange Private Limited shall be entitled to seek injunctive relief in addition to any other legal remedies available.
                </li>
            </ul>
        </li>
    </ol>
    <p>By using this website, you signify your acceptance of these terms and conditions. If you do not agree to these terms, please do not use our website.</p>
</div>
