<!-- Old_Quote -->
<!-- <div class="grid" *ngIf="this.quote">
    <div class="mx-3" style="width: 500px">
        <app-indicative-quote-basic-card id="SubTemplateFire_IndicativeQuoteBasicCard" [quote]="this.quote"></app-indicative-quote-basic-card>
        <app-risk-inspection-report-and-location-photographs-crud-card *ngIf="this.quote" id="SubTemplateFire_InspectionReportLocation" [permissions]="['read','create','update','delete']" [quote]="this.quote"></app-risk-inspection-report-and-location-photographs-crud-card>
    </div>
    <div class="mx-3 " style="width: 500px">
        <app-fire-floater-cover-addon-card *ngIf="this.occupancyCount > 1" id="SubTemplateFire_FireFloaterCover" [quote]="this.quote"></app-fire-floater-cover-addon-card>
        <app-total-indicative-quote-covers-opted-card id="SubTemplateFire_IndicativeQuoteCard" [quote]="this.quote"></app-total-indicative-quote-covers-opted-card>
    </div>
</div> -->

<!-- New_Quote_Option -->
<div class="grid" *ngIf="this.quoteOptionData">
    <div class="mx-3" style="width: 800px">
        <app-indicative-quote-basic-card id="SubTemplateFire_IndicativeQuoteBasicCard"
            [quoteOptionData]="this.quoteOptionData" [quote]="this.quote"></app-indicative-quote-basic-card>
            <app-deductibles-excess-card [quote]="this.quote" id="SubTemplateFire_IndicativeQuoteBasicCard"
            [quoteOptionData]="this.quoteOptionData"></app-deductibles-excess-card>
            <!-- <app-deductibles-addoncover-card id="SubTemplateFire_IndicativeQuoteBasicCard"
            [quoteOptionData]="this.quoteOptionData" [quote]="this.quote"></app-deductibles-addoncover-card> -->
        <app-risk-inspection-report-and-location-photographs-crud-card [quote]="this.quote"
            id="SubTemplateFire_InspectionReportLocation" [permissions]="['read','create','update','delete']"
            [quoteOptionData]="this.quoteOptionData"></app-risk-inspection-report-and-location-photographs-crud-card>
    </div>
    <div class="mx-3 " style="width: 500px">
        <app-fire-floater-cover-addon-card *ngIf="this.occupancyCount > 1" id="SubTemplateFire_FireFloaterCover"
            [quoteOptionData]="this.quoteOptionData"></app-fire-floater-cover-addon-card>
        <app-total-indicative-quote-covers-opted-card id="SubTemplateFire_IndicativeQuoteCard"
            [quoteOptionData]="this.quoteOptionData" [quote]="this.quote"></app-total-indicative-quote-covers-opted-card>
    </div>
</div>