<div class="card" >
    <app-quote-slip-template-one id="RequisitionReview_QuoteSlip_TemplateOne" [quote]="this.quote"></app-quote-slip-template-one>
    <div class="lt-solid-box iq-addOns" style="display:none">
        <h4 class="p-3">Quote Slip :- {{this.quote?.quoteNo}}</h4>
        <div class="grid">
            <div class="col-12 inline-flex">
                <div class="col-12 md:col-3" >
                    <h6>Type of Policy</h6>
                    <p class="pt-3"><span>{{this.quote?.productId?.type}} </span></p>
                </div>
                <div class="col-12 md:col-3">
                    <h6>Insured Name</h6>
                    <p class="pt-3">{{this.quote?.clientId?.name}}</p>
                </div>
                <div class="col-12 md:col-3">
                    <h6>Communication Address</h6>
                    <p class="pt-3">Standard Fire & special Perils Policy </p>
                </div>
                <div class="col-12 md:col-3">
                    <h6>Type of Proposal</h6>
                    <p class="pt-3">Standard Fire & special Perils Policy</p>
                </div>
            </div>
        </div>

        <div class="col-12 inline-flex">
            <div class="col-12 md:col-3">
                <div class="lt-solid-box iq-addOns h-100">
                    <h5>Details of Existing insurer</h5>

                    <hr style="border: 1px solid #0064BB; padding: -80%; width: calc(100% + 24px); margin-left: -12px;">
                    <p class="pt-3">Name of Insurer</p>
                    <p class="pt-3 font-bold">Standard Fire & special Perils Policy</p>
                    <p class="pt-3">City of issuing office</p>
                    <p class="pt-3 font-bold">Standard Fire & special Perils Policy</p>
                    <p class="pt-3">DO No.</p>
                    <p class="pt-3 font-bold">1211124242 </p>
                </div>
            </div>
            <div class="col-12 md:col-3">
                <div class="lt-solid-box iq-addOns h-100">
                    <h5>Current Policy Details</h5>
                    <hr style="border: 1px solid #0064BB; padding: -80%; width: calc(100% + 24px); margin-left: -12px;">
                    <p class="pt-3">Expiring Premium</p>
                    <p class="pt-3 font-bold">Standard Fire & special Perils Policy</p>
                    <p class="pt-3">Expiring Policy No.</p>
                    <p class="pt-3 font-bold">22332322212112213</p>
                </div>
            </div>
            <div class="col-12 md:col-3">
                <div class="lt-solid-box iq-addOns h-100">
                    <p>Expiring Policy Period</p>
                    <hr style="border: 1px solid #0064BB; padding: -80%; width: calc(100% + 24px); margin-left: -12px;">
                    <p class="pt-3 font-bold">Standard Fire & special Perils Policy 00928u934923409</p>
                    <p class="pt-3">Policy period</p>
                    <p class="pt-3 font-bold">Annual</p>
                </div>
            </div>
            <div class="col-12 md:col-3">
                <div class="lt-solid-box iq-addOns h-100">
                    <h6>Renewal policy period</h6>
                    <hr style="border: 1px solid #0064BB; padding: -80%; width: calc(100% + 24px); margin-left: -12px;">
                    <p class="pt-3">Standard Fire & special Perils Policy</p>
                    <p class="pt-3">Standard Fire & special Perils Policy</p>
                    <p class="pt-3">Standard Fire & special Perils Policy</p>
                </div>
            </div>
        </div>

        <div class="col-12 inline-flex">
            <div class="col-12">
                <div class="lt-solid-box iq-addOns">
                    <h5 class="p-1">Risk Descriprion Coverage</h5>
                    <hr style="border: 1px solid #0064BB; padding-left: -45%; width: calc(100% + 24px) ; margin-left: -12px;">
                    <ul class="addOns-list">
                        <li>Fire</li>
                        <li>Lightning</li>
                        <li>Explosion/Implosion</li>
                        <li>Aircraft Damage</li>
                        <li>Riot, Strike, malicious and Damage(RSMD)</li>
                        <li>Storm, Cyclone, Typhoon, Tempest, Hurricane, Tornado, Flood inundation(STFI)</li>
                        <li>Impact Damage- due to Impact by Any Rain/Road vehicle or animal not belonging to or owned by Insured.</li>
                        <li>any occupire of premises or  their employees while acting in the </li>
                        <li>course of their employment </li>
                        <li>Subsidence and Landslide including rock slide</li>
                        <li>Bursying and/or  overflowing of the water Thanks Apparatus and pipes</li>
                        <li>Missile Testing Operations </li>
                        <li>Leakage form automatic sprinkler installation</li>
                        <li>Brush Fire </li>
                    </ul>
                </div>
            </div>
        </div>



                     <div class="col-12 inline-flex">
                            <div class="col-12">
                                <div class="lt-solid-box iq-addOns">
                                    <h5 class="p-1">Perils to be Deleted:</h5>
                                    <hr style="border: 1px solid #0064BB; padding-left: -45%; width: calc(100% + 24px) ; margin-left: -12px;">
                                    <ul  class="addOns-list" >

                                            <li class="clauses-list-item">
                                                <div class="name"><h5>Storm, Tempest, flood & iNundation(STFI)</h5></div>
                                                <div class="perils-deleted-status">No</div>
                                            </li>
                                            <li class="clauses-list-item">
                                                <div class="name"><h5>Riot,Strike &malicious Damage</h5></div>
                                                <div class="perils-deleted-status" >No</div>
                                            </li>


                                    </ul>
                                </div>
                            </div>
                        </div>




        <div class="col-12 inline-flex">
            <div class="col-12">
                <div class="lt-solid-box iq-addOns">
                    <h5 class="p-1">Clauses</h5>
                    <hr style="border: 1px solid #0064BB; padding-left: -45%; width: calc(100% + 24px) ; margin-left: -12px;">
                    <ul  class="addOns-list" >

                            <li class="clauses-list-item">
                                <div class="name">Agreed Bank Clause</div>
                                <div class="status">status</div>
                            </li>
                            <li class="clauses-list-item">
                                <div class="name">valued Policy</div>
                                <div class="status">status</div>
                            </li>
                            <li class="clauses-list-item">
                                <div class="name">Contract Price Insurance Clause</div>
                                <div class="status">status</div>
                            </li>
                            <li class="clauses-list-item">
                                <div class="name">Designation property Clause</div>
                                <div class="status">status</div>
                            </li>
                            <li class="clauses-list-item">
                                <div class="name">Reinstatement value Clause</div>
                                <div class="status">status</div>
                            </li>
                            <li class="clauses-list-item">
                                <div class="name">Local Athorities Clause</div>
                                <div class="status">status</div>
                            </li>
                            <li class="clauses-list-item">
                                <div class="name">Architects, surveyors And Consulting engineers fees</div>
                                <div class="status">status</div>
                            </li>
                            <li class="clauses-list-item">
                                <div class="name">Removel Of Debris Clause</div>
                                <div class="status">status</div>
                            </li>
                            <li class="clauses-list-item">
                                <div class="name">Floater Clause</div>
                                <div class="status">status</div>
                            </li>
                            <li class="clauses-list-item">
                                <div class="name">Declaration Clause</div>
                                <div class="status">status</div>
                            </li>
                            <li class="clauses-list-item">
                                <div class="name">Basis Of Declaration</div>
                                <div class="status">status</div>
                            </li>
                            <li class="clauses-list-item">
                                <div class="name">voluntary Deductble Clause</div>
                                <div class="status">status</div>
                            </li>
                            <li class="clauses-list-item">
                                <div class="name">Dynamo Clause (Electrical Injury)</div>
                                <div class="status">status</div>
                            </li>
                            <li class="clauses-list-item">
                                <div class="name">Goods Held in trust Clause</div>
                                <div class="status">status</div>
                            </li>
                            <li class="clauses-list-item">
                                <div class="name">Property Under care Custody and control</div>
                                <div class="status">status</div>
                            </li>
                            <li class="clauses-list-item">
                                <div class="name">Brand Lable  and  Trademark Clause</div>
                                <div class="status">status</div>
                            </li>
                            <li class="clauses-list-item">
                                <div class="name">On Account Payment</div>
                                <div class="status">status</div>
                            </li>
                            <li class="clauses-list-item">
                                <div class="name">72 Hourse Clause</div>
                                <div class="status">status</div>
                            </li>
                            <li class="clauses-list-item">
                                <div class="name">Nominated Adjester Clause</div>
                                <div class="status">status</div>
                            </li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="col-12 inline-flex">
            <div class="col-12">
                <div class="lt-solid-box iq-addOns">
                    <h5 class="p-1">Co Insurance Clause 2014 will be applicable mendiments as below</h5>
                    <hr style="border: 1px solid #0064BB; padding-left: -45%; width: calc(100% + 24px) ; margin-left: -12px;">
                    <ul >
                        <li>1. waiver of clause no. -3.6, 3.7, 3.8, and 3.10  </li>
                        <li>2. Any altration and / or amendments  and/or  adjestment agreed upon  the terms of leading insurer's agreement shall be<br>
                            autometically bind  binding on the  participating co-insurers  hereon who agree to walve advice  hereunder</li>
                    </ul>
                    <hr style="border: 1px solid #0064BB; padding-left: -45%; width: calc(100% + 24px) ; margin-left: -12px;">

                    <h5 class="p-1">Further following terms are also agreed</h5>
                    <hr style="border: 1px solid #0064BB; padding-left: -45%; width: calc(100% + 24px) ; margin-left: -12px;">
                    <ul class="addOns-list">
                        <p>in accordance with co-insurance </p>
                    </ul>
                    <hr style="border: 1px solid #0064BB; padding-left: -45%; width: calc(100% + 24px) ; margin-left: -12px;">
                    <h5 class="p-1">Co-insurance Clause 2014 </h5>
                    <hr style="border: 1px solid #0064BB; padding-left: -45%; width: calc(100% + 24px) ; margin-left: -12px;">
                    <hr />
                    <ul class="addOns-list">
                        <p>3.6 During the currency of the policy</p>
                        <p>3.7 The liability of the insurance </p>
                        <P>3.8 in the event of a claim</P>
                        <p>3.10 in the event of any  claim being</p>
                    </ul>
                </div>
            </div>
        </div>






        <div class="col-12 inline-flex">
            <div class="col-12">
                <div class="lt-solid-box iq-addOns">
                    <h5 class="p-1">Add On Coveragfes & Clause</h5>
                    <hr style="border: 1px solid #0064BB; padding-left: -45%; width: calc(100% + 24px) ; margin-left: -12px;">
                    <ul class="addOns-list">

                        <li class="clauses-list-item">
                            <div class="name">capital Additions</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">minor works</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">capital Additions</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">minor works</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">capital Additions</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">minor works</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">capital Additions</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">minor works</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">capital Additions</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">minor works</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">capital Additions</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">minor works</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">capital Additions</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">minor works</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">capital Additions</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">minor works</div>
                            <div class="status">Not Coverd</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>





        <div class="col-12 inline-flex">
            <div class="col-12">
                <div class="lt-solid-box iq-addOns">
                    <h5 class="p-1">Add On Coveragfes & Clause</h5>
                    <hr style="border: 1px solid #0064BB; padding-left: -45%; width: calc(100% + 24px) ; margin-left: -12px;">
                    <ul class="addOns-list">

                        <li class="clauses-list-item">
                            <div class="name">Inadvertent  Omissions </div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">Obsolete parts /Involuntory betterment</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">Demination & cost of clean up expenses</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">Deliberate Demage </div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">Smoke Damage Extension</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">Accidental Damages</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">capital Additions</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">minor works</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">capital Additions</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">minor works</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">capital Additions</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">minor works</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">capital Additions</div>
                            <div class="status">Not Coverd</div>
                        </li>
                        <li class="clauses-list-item">
                            <div class="name">minor works</div>
                            <div class="status">Not Coverd</div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>




        <div class="col-12 inline-flex">
            <div class="col-12">
                <div class="lt-solid-box-Risk-Inspaction-status iq-addOns">
                    <h5 class="p-1">Risk Inspaction status (Lats 2 Years)</h5>

                </div>
            </div>
        </div>





                    <!-- <div class="col-12 inline-flex">
                        <div class="col-12">
                            <div class="lt-solid-box iq-addOns">
                                <h5 class="p-1">Perils to be Deleted:</h5>
                                <hr style="border: 1px solid #0064BB; padding-left: -45%; width: calc(100% + 24px) ; margin-left: -12px;">
                                <ul  class="addOns-list" >

                                        <li class="clauses-list-item">
                                            <div class="name"><h6>Year</h6></div>
                                            <div class="status">2017-18</div>
                                            <div class="status">2018-19</div>
                                            <div class="status">2019-20</div>
                                        </li>
                                        <li class="clauses-list-item">
                                            <div class="name"><h6>claim Amount </h6></div>
                                            <div class="status">0</div>
                                            <div class="statu">0</div>
                                            <div class="statu">0</div>
                                        </li>
                                        <li class="clauses-list-item">
                                            <div class="name"><h6>No. of claims</h6></div>
                                            <div class="status">0</div>
                                            <div class="status">0</div>
                                            <div class="status">0</div>
                                        </li>
                                        <li class="clauses-list-item">
                                            <div class="name"><h6>nature of claim</h6></div>
                                            <div class="status">0</div>
                                            <div class="status">0</div>
                                            <div class="status">0</div>
                                        </li>



                                </ul>
                            </div>
                        </div>
                    </div> -->



                <div class="col-12 inline-flex">
                    <div class="col-12">
                        <div class="lt-solid-box iq-addOns">
                            <h5 class="p-1">Claim Expirience</h5>
                            <hr style="border: 1px solid #0064BB; padding-left: -45%; width: calc(100% + 24px) ; margin-left: -12px;">

                            <p-table >

                                <ng-template pTemplate="header" >
                                    <tr>


                                            <th>Year</th>
                                            <th>2017-18</th>
                                            <th>2018-19</th>
                                            <th>2019-20</th>

                                    </tr>


                                    <tr>
                                        <th>Premium Paid </th>
                                        <th>200000</th>
                                        <th>100000</th>
                                        <th>2000000</th>
                                    </tr>

                                    <tr>
                                        <th>claim Amount </th>
                                        <th>0</th>
                                        <th>0</th>
                                        <th>0</th>
                                    </tr>
                                    <tr>
                                        <th>No. of claims</th>
                                        <th>0</th>
                                        <th>0</th>
                                        <th>0</th>
                                    </tr>
                                    <tr>
                                        <th>nature of claim</th>
                                        <th>0</th>
                                        <th>0</th>
                                        <th>0</th>
                                    </tr>
                                </ng-template>
                            </p-table>

                        </div>
                    </div>
                </div>






        <!-- <div class="col-12 inline-flex">
            <div class="col-12">
                <div class="lt-solid-box iq-addOns">
                    <h5 class="p-1">Claim Expirience</h5>
                    <hr style="border: 1px solid #0064BB; padding-left: -45%; width: calc(100% + 24px) ; margin-left: -12px;">

                    <table calss="table1">
                        <tr>
                        <th></th>
                        <th>2017-18</th>
                        <th>2018-19</th>
                        <th>2019-20</th>
                    </tr>
                    <tr>
                        <td>claim Amount </td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>No. of claims</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>nature of claim</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>

                    </table>
                </div>
            </div>
        </div> -->





        <div class="col-12 inline-flex"  calss="table2">
            <div class="col-12">
                <div class="lt-solid-box-Risk-Inspaction-status iq-addOns">

                    <ul  class="addOns-list" >

                            <li class="clauses-list-item">
                                <div class="name"><h5>Any Aditional Information Premium  (Excluding GST)</h5></div>
                                <div class="perils-deleted-status"> As per claculation attached - innexure 2</div>
                            </li>
                            <hr style="border: 1px solid #0064BB; padding-left: -45%; width: calc(100% + 24px) ; margin-left: -12px;">
                            <li class="clauses-list-item">
                                <div class="name"><h5>Deductible/Excess Brokerage (%)</h5></div>
                                <div class="perils-deleted-status">11.50</div>
                            </li>
                            <hr style="border: 1px solid #0064BB; padding-left: -45%; width: calc(100% + 24px) ; margin-left: -12px;">
                            <li class="clauses-list-item">
                                <div class="name"><h5>Quote submition Date</h5></div>
                                <div class="perils-deleted-status">21.apr.2020</div>
                            </li>


                    </ul>

                </div>
            </div>
        </div>



        <div class="col-12 inline-flex">
            <div class="col-12">
                <div class="lt-solid-box iq-addOns">
                    <h5 class="p-1">Disclaimer</h5>
                    <hr style="border: 1px solid #0064BB; padding-left: -45%; width: calc(100% + 24px) ; margin-left: -12px;">
                    <ul class="addOns-list">
                   <p>Insurer Understands  that the information captured in broker slip/proposal form(the inputs) is provided by or on behalf of proposed client of Adhitya Birla Insurence Broker Ltd (ABIBI) for the propose of seeking</p>
                    </ul>
                </div>
            </div>
        </div>

<!--
        <div class="col-12 inline-flex">
            <div class="col-12">
                <div class="lt-solid-box iq-addOns">
                    <ul class="addOns-list">
                        <table calss="table1">
                            <tr>
                                <th>Prepared By</th>
                                <th>Reviewed By</th>
                                <th>Date</th>
                                <th>Place</th>
                            </tr>
                            <tr>
                                <th>GANESH AWHAD</th>
                                <th>GANESH AWHAD</th>
                                <th>24 Apr 2020</th>
                                <th>MUMBAI LOWER PAREL</th>
                            </tr>
                        </table>
                    </ul>
                </div>
            </div>
        </div> -->


        <div class="col-12 inline-flex"  calss="table2">
            <div class="col-12">
                <div class="lt-solid-box iq-addOns">

        <p-treeTable >

            <ng-template pTemplate="header" style="padding: -40%; border: 0px;" >

                <tr>
                    <th >Prepared By</th>
                    <th >Reviewed By</th>
                    <th >Date</th>
                    <th >Place</th>

                </tr>

                    <tr>
                        <td>GANESH AWHAD</td>
                        <td>GANESH AWHAD</td>
                        <td>24 Apr 2020</td>
                        <td>MUMBAI LOWER PAREL</td>
                    </tr>






            </ng-template>
            </p-treeTable>

        </div>


    </div>
</div>




        <div class="col-12 inline-flex"  calss="table2">
            <div class="col-12">
                <div class="lt-solid-box iq-addOns">
                    <h2>Annexure - Locations wise sum isured</h2>
                    <!-- <hr style="border: 1px solid #0064BB; padding-left: -45%; width: calc(100% + 24px) ; margin-left: -12px;"> -->
                <p-treeTable>

                    <ng-template pTemplate="header" >

                        <tr style="border: 2px solid #0064BB;" >
                            <th rowspan="2" style="border: 2px solid #0064BB;">Risk Location Address</th>

                            <th rowspan="2" style="border: 2px solid #0064BB;">Risk LocationCode discription</th>
                            <th colspan="2" style="border: 2px solid #0064BB;" >Building</th>
                            <th colspan="5" style="border: 2px solid #0064BB;" >contant</th>

                        </tr>
                        <tr style="border: 2px solid #0064BB;" >

                            <th style="border: 2px solid #0064BB;">BUilding</th>
                            <th style="border: 2px solid #0064BB;">Plinth& and Foundation, Roads and Bridges</th>
                            <!-- <th colspan="2">Profits</th> -->


                            <th style="border: 2px solid #0064BB;">Plant and mechanery</th>
                            <th style="border: 2px solid #0064BB;">office Equipments, Furniture &fixtures, Electrical Instalations and other dcontents</th>
                            <th style="border: 2px solid #0064BB;">Stocks consisting  of Raw metirials,finished goods stores & spares consumables  and other type of stocks pertaining to insured trade </th>
                            <th style="border: 2px solid #0064BB;">Stocks in Process</th>
                            <th style="border: 2px solid #0064BB;">any other</th>
                            <th colspan="1" >Total</th>
                        </tr>



                        <tr class="Annexure-data">

                            <td >Bharudch</td>
                            <td >2064 </td>
                            <td >1000000</td>
                            <td >0</td>
                            <td >20000000 </td>
                            <td >1000000</td>
                            <td >1000000</td>
                            <td >0</td>
                            <td >0</td>
                            <td >32000000</td>
                        </tr><br>

                        <tr class="Annexure-data">

                            <td >Jagdispur</td>
                            <td >2064</td>
                            <td >1000000</td>
                            <td >0</td>
                            <td >20000000 </td>
                            <td >1000000</td>
                            <td >1000000</td>
                            <td >0</td>
                            <td >0</td>
                            <td >32000000</td>
                        </tr><br>

                        <tr class="Annexure-data">

                            <td >Jaipur</td>
                            <td >2064</td>
                            <td >1000000</td>
                            <td >0</td>
                            <td >20000000 </td>
                            <td >1000000</td>
                            <td >1000000</td>
                            <td >0</td>
                            <td >0</td>
                            <td >32000000</td>
                        </tr><br>

                        <tr class="Annexure-data">

                            <td >Thane</td>
                            <td >2064</td>
                            <td >1000000</td>
                            <td >0</td>
                            <td >20000000 </td>
                            <td >1000000</td>
                            <td >1000000</td>
                            <td >0</td>
                            <td >0</td>
                            <td >32000000</td>
                        </tr><br>

                        <tr class="Annexure-data">

                            <td >Nagda</td>
                            <td >2064</td>
                            <td >1000000</td>
                            <td >0</td>
                            <td >20000000 </td>
                            <td >1000000</td>
                            <td >1000000</td>
                            <td >0</td>
                            <td >0</td>
                            <td >32000000</td>
                        </tr><br>

                        <tr class="Annexure-data" style="border-bottom:2px solid #0064BB">

                            <td >Bharudch</td>
                            <td >2064</td>
                            <td >1000000</td>
                            <td >0</td>
                            <td >20000000 </td>
                            <td >1000000</td>
                            <td >1000000</td>
                            <td >0</td>
                            <td >0</td>
                            <td >32000000</td>
                        </tr><br>



                        <!-- <hr style="border: 1px solid #0064BB; padding-left: -45%; width: calc(100% + 24px) ; margin-left: -12px;" > -->

                        <tr class="Annexure-data">

                            <td ><h6>Total</h6></td>
                            <td ></td>
                            <td >824202000</td>
                            <td >0</td>
                            <td >324594978 </td>
                            <td >40738366</td>
                            <td >0</td>
                            <td >0</td>
                            <td >0</td>
                            <td >1190535344</td>
                        </tr><br>
                    </ng-template>
                </p-treeTable>
            </div>
        </div>
    </div>


    </div>
</div>
