<form [formGroup]="this.resetPasswordForm" (ngSubmit)="this.onResetPassword()" #$form="ngForm" *ngIf="!lastLogin" >
    <div class="mx-2 my-5">
        <div class="">
            <div class="mb-3">
                <h5 id="NewPassword_label">New Password :</h5>
                <!-- <p-password id="ResetForm_NewPasswordInput" class="p-password-m border-0 w-100"
                    formControlName="newPassword" autofocus
                    [ngClass]="{'ng-invalid ng-dirty': $form.submitted && resetPasswordForm.controls['newPassword']?.errors}">
                </p-password> -->
                <span class="p-input-icon-right w-full">
                    <i *ngIf="!show" class="pi pi-eye"
                        (click)="toggleShow()"></i>
                    <i *ngIf="show" class="pi pi-eye-slash"
                        (click)="toggleShow()"></i>
                    <input [type]="show ? 'text' : 'password'"
                        id="ResetForm_ConfirmPasswordInput" pInputText
                        formControlName="newPassword" autofocus autocomplete="off"
                        class="form-control h-full w-full" placeholder="New Password">
                </span>
                <small class="ng-dirty ng-invalid"
                    *ngIf="$form.submitted && resetPasswordForm.controls['newPassword']?.errors?.required">Please Enter
                    New Password.</small>
            </div>
            <div class="mb-3">
                <h5 id="ConfirmPassword_label">Confirm Password :</h5>
                <!-- <p-password id="ResetForm_ConfirmPasswordInput" class="p-password-m border-0 w-100 "
                    formControlName="confirmPassword" autofocus
                    [ngClass]="{'ng-invalid ng-dirty': $form.submitted && resetPasswordForm.controls['confirmPassword']?.errors}">
                </p-password> -->
                <span class="p-input-icon-right w-full">
                    <i *ngIf="!confirmShow" class="pi pi-eye"
                        (click)="toggleConfimrShow()"></i>
                    <i *ngIf="confirmShow" class="pi pi-eye-slash"
                        (click)="toggleConfimrShow()"></i>
                    <input [type]="confirmShow ? 'text' : 'password'"
                        id="ResetForm_ConfirmPasswordInput" pInputText
                        formControlName="confirmPassword" autofocus autocomplete="off"
                        class="form-control h-full w-full" placeholder="Confirm Password">
                </span>
                <small class="ng-dirty ng-invalid"
                    *ngIf="$form.submitted && resetPasswordForm.controls['confirmPassword']?.errors?.required">Please
                    Enter Confirm Password.</small>
            </div>
            <!-- <div>
                <span class="p-input-icon-right w-full h-4rem">
                    <i *ngIf="!confirmShow" class="pi pi-eye"
                        (click)="toggleConfimrShow()"></i>
                    <i *ngIf="confirmShow" class="pi pi-eye-slash"
                        (click)="toggleConfimrShow()"></i>
                    <input [type]="confirmShow ? 'text' : 'password'"
                        id="ResetForm_ConfirmPasswordInput" pInputText
                        formControlName="confirmPassword" autofocus autocomplete="off"
                        class="form-control h-full w-full" placeholder="Confirm Password">
                </span>
            </div> -->
        </div>
        <div class="mt-4" style="text-align: right;">
            <button class="btn btn-success mr-2" pButton pRipple type="submit" label="Reset" icon="pi pi-check"
                id="Reset_button"></button>
            <button class="btn btn-primary" pButton pRipple id="Cancel_button" label="Cancel" icon="pi pi-times"
                (click)="this.onCanel()"></button>
        </div>
    </div>
</form>

<form [formGroup]="this.resetPasswordForm" (ngSubmit)="this.onFirstResetPassword()" #$form="ngForm" *ngIf="lastLogin" >
    <div class="mx-2 my-5">
        <div class="">
            <div class="mb-3">
                <h5 id="NewPassword_label">Old Password :</h5>
                <!-- <p-password id="ResetForm_NewPasswordInput" class="p-password-m border-0 w-100"
                    formControlName="newPassword" autofocus
                    [ngClass]="{'ng-invalid ng-dirty': $form.submitted && resetPasswordForm.controls['newPassword']?.errors}">
                </p-password> -->
                <span class="p-input-icon-right w-full">
                    <i *ngIf="!oldShow" class="pi pi-eye"
                        (click)="toggleOldShow()"></i>
                    <i *ngIf="oldShow" class="pi pi-eye-slash"
                        (click)="toggleOldShow()"></i>
                    <input [type]="oldShow ? 'text' : 'password'"
                        id="ResetForm_OldPasswordInput" pInputText
                        formControlName="oldPassword" autofocus autocomplete="off"
                        class="form-control h-full w-full" placeholder="Old Password">
                </span>
                <small class="ng-dirty ng-invalid"
                    *ngIf="$form.submitted && resetPasswordForm.controls['newPassword']?.errors?.required">Please Enter
                    Old Password.</small>
            </div>
            <div class="mb-3">
                <h5 id="NewPassword_label">New Password :</h5>
                <!-- <p-password id="ResetForm_NewPasswordInput" class="p-password-m border-0 w-100"
                    formControlName="newPassword" autofocus
                    [ngClass]="{'ng-invalid ng-dirty': $form.submitted && resetPasswordForm.controls['newPassword']?.errors}">
                </p-password> -->
                <span class="p-input-icon-right w-full">
                    <i *ngIf="!show" class="pi pi-eye"
                        (click)="toggleShow()"></i>
                    <i *ngIf="show" class="pi pi-eye-slash"
                        (click)="toggleShow()"></i>
                    <input [type]="show ? 'text' : 'password'"
                        id="ResetForm_PasswordInput" pInputText
                        formControlName="newPassword" autofocus autocomplete="off"
                        class="form-control h-full w-full" placeholder="New Password">
                </span>
                <small class="ng-dirty ng-invalid"
                    *ngIf="$form.submitted && resetPasswordForm.controls['newPassword']?.errors?.required">Please Enter
                    New Password.</small>
            </div>
            <div class="mb-3">
                <h5 id="ConfirmPassword_label">Confirm Password :</h5>
                <!-- <p-password id="ResetForm_ConfirmPasswordInput" class="p-password-m border-0 w-100 "
                    formControlName="confirmPassword" autofocus
                    [ngClass]="{'ng-invalid ng-dirty': $form.submitted && resetPasswordForm.controls['confirmPassword']?.errors}">
                </p-password> -->
                <span class="p-input-icon-right w-full">
                    <i *ngIf="!confirmShow" class="pi pi-eye"
                        (click)="toggleConfimrShow()"></i>
                    <i *ngIf="confirmShow" class="pi pi-eye-slash"
                        (click)="toggleConfimrShow()"></i>
                    <input [type]="confirmShow ? 'text' : 'password'"
                        id="ResetForm_ConfirmPasswordInput" pInputText
                        formControlName="confirmPassword" autofocus autocomplete="off"
                        class="form-control h-full w-full" placeholder="Confirm Password">
                </span>
                <small class="ng-dirty ng-invalid"
                    *ngIf="$form.submitted && resetPasswordForm.controls['confirmPassword']?.errors?.required">Please
                    Enter Confirm Password.</small>
            </div>
            <!-- <div>
                <span class="p-input-icon-right w-full h-4rem">
                    <i *ngIf="!confirmShow" class="pi pi-eye"
                        (click)="toggleConfimrShow()"></i>
                    <i *ngIf="confirmShow" class="pi pi-eye-slash"
                        (click)="toggleConfimrShow()"></i>
                    <input [type]="confirmShow ? 'text' : 'password'"
                        id="ResetForm_ConfirmPasswordInput" pInputText
                        formControlName="confirmPassword" autofocus autocomplete="off"
                        class="form-control h-full w-full" placeholder="Confirm Password">
                </span>
            </div> -->
        </div>
        <div class="mt-4" style="text-align: right;">
            <button class="btn btn-success mr-2" pButton pRipple type="submit" label="Reset" icon="pi pi-check"
                id="Reset_button"></button>
            <button class="btn btn-primary" pButton pRipple id="Cancel_button" label="Cancel" icon="pi pi-times"
                (click)="this.onCanel()"></button>
        </div>
    </div>
</form>