.thRow{
    background-color: #5143CE;
    color: white;
}

.mycard {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 10px 20px 41px #8d919bd9 !important;
    border: 1px solid #8d919bd9 !important;
    border-radius: 26px;
    margin-bottom: 1.5rem;
    padding: 5px;
}

.label{
    font-weight: 600;
}