.p-fileUpload{
    size: 5px;
}

.CroreInput
{
    margin-left: 10px;
}
.terrorismValid{
    margin-left: 55px;
}
input{
    height: 22px;
    margin-top: -5px;
    font-size: 8px;
    text-align: center;
}

