:host ::ng-deep .p-button .p-button-icon-left {
    margin-left: 10px !important;
}

:host ::ng-deep p-button.p-element.ng-star-inserted {
    display: none;
}

:host ::ng-deep .p-fileupload .p-fileupload-content {
    padding: 1rem 1rem;
}

:host ::ng-deep .p-fileupload-content .p-progressbar{
    width : 0%;
}