.form-control.form-control1 {
    padding: 15px;
}

#left-bar::-webkit-scrollbar {
    width: 0.1em;
    height: 0.1em;
}

#left-bar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

#left-bar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#right-bar {
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#left-bar {
    height: 100%;
    padding: 2rem;
}

#left-bar .pdf-inner {
    width: 200mm;
}
