
<form [formGroup]="this.recordForm" (ngSubmit)="submitted=true; this.saveRecord();">
    <div class="form-container px-3">
        <div class="grid">
            <div class="col-12">
                <p-card>
                    <p-toast></p-toast>
                    <p-toolbar styleClass="">
                        <ng-template pTemplate="left">
                            <h3 class="mb-0" id="ExclusionFormRecordName">{{this.recordSingularName}}</h3>
                        </ng-template>
                        <ng-template pTemplate="right">
                            <button id="businessTypeForm_SaveButton" type="submit" pButton pRipple label="Save" icon="pi pi-check" class="p-button-success mr-2"></button>
                            <button id="businessTypeForm_CancelButton" pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-danger mr-2 pr-3" (click)="this.onCancel()"></button>
                        </ng-template>
                    </p-toolbar>
                </p-card>
            </div>
            <div class="col">

                <p-card>
                    <div class="card p-fluid">

                        <div class="field" *ngIf="this.role.name == AllowedRoles.ADMIN">
                            <label id="wcBusinessTypesForm_PartnerLabel" for="name">Partner</label>
                            <p-autoComplete [disabled]="this.mode == 'edit'" id="wcBusinessTypesForm_Partner" [dropdown]="true"
                                optionValue="value" field="label" formControlName="partnerId"
                                [suggestions]="this.optionsPartners" (completeMethod)="this.searchOptionsPartners($event)"
                                [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.controls['partnerId'].valid}"></p-autoComplete>
                            <small id="wcBusinessTypesForm_Partner_ValidationError"
                                *ngIf="this.recordForm.controls['partnerId'].errors?.required" class="ng-invalid">This field
                                Required.</small>
                        </div>
                       

                        <div class="field">
                            <label id="businessTypeForm_ProductLabel" for="productId">Product</label>
                            <p-autoComplete id="businessTypeForm_Product" [dropdown]="true" [suggestions]="this.optionsProducts" field="label" formControlName="productId" (completeMethod)="this.searchOptionsProducts($event)" [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.controls['productId'].valid}"></p-autoComplete>
                        </div>
                        <div class="field">
                            <label id="businessTypeForm_typeLabel" for="businessType">Business Type</label>
                                <input  id="businessTypeForm_type" type="text"  pInputText id="businesstype" formControlName="businessType" required
                                      [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.value['businessType']}"/>
                                        <small id="businessTypeForm_typeValidationError" class="ng-dirty ng-invalid" *ngIf="submitted && !recordForm.value['businessType']">Business Type is required.</small>
                        </div>
                    <div class="field">
                        <label id="businessTypeForm_StatulimitSlabsel" for="status">Status</label>
                        <p-toggleButton id="businessTypeForm_Status" class="form-control" formControlName="active" onLabel="Active" offLabel="Inactive" onIcon='{{"pi pi-check"}}' offIcon="pi pi-times" iconPos="right"></p-toggleButton>
                    </div>
                    <div class="field" *ngIf="this.mode == 'edit' && this.user?.partnerId?.partnerType == 'self' && recordForm.controls.taskStatus.value">
                        <label for="taskStatus" id="wcBusinessTypesForm_taskStatusLabel">Task Status</label>
                        <input id="wcBusinessTypesForm_taskStatus" class="form-control" type="text" pInputText id="taskStatus"
                        formControlName="taskStatus" />
                    </div>

                    <div class="field" *ngIf="this.mode == 'edit'  && this.user?.partnerId?.partnerType == 'self' && recordForm.controls.taskStatus.value == 'failed'">
                        <label for="failedMessage" id="wcBusinessTypesForm_failedMessageLabel">Failed Reasson</label>
                        <input id="wcBusinessTypesForm_failedMessage" class="form-control" type="text" pInputText id="failedMessage"
                        formControlName="failedMessage" />
                    </div>
                    </div>
                </p-card>
            </div>
            <div class="col">

            </div>

        </div>
    </div>
</form>
