.temp {
    background-size: contain;
    box-sizing: border-box;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &.error {
        .temp-panel {
            h1 {
                color: #FC6161;
                text-shadow: 0px 0px 50px rgba(#FC6161, 0.2);
            }

            h3 {
                color: lighten(#FC6161, 10%);
                max-width: 720px;
            }
        }
    }

    &.success {
        .temp-panel {
            h1 {
                color: rgb(41, 83, 1);
                text-shadow: 0px 0px 50px rgba(#889700, 0.2);
            }

            h3 {
                color: lighten(rgb(41, 83, 1), 10%);
                max-width: 720px;
            }
        }
    }

.temp-panel {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // margin-top: -200px;

    h1 {
        font-size: 140px;
        font-weight: 900;
        margin-bottom: 0;
    }

    h3 {
        font-size: 60px;
        font-weight: 900;
        margin-top: -90px;
        margin-bottom: 40px;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        max-width: 320px;
    }

    button {
        margin-top: 50px;
    }
}
}

.razorpay-modal {
    width: 80%; /* Adjust the width as needed */
    max-width: 600px; /* Set a maximum width */
    height: 70vh; /* Adjust the height as needed */
    /* Add any other styles you want */
  }


.imgpayment{
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    // min-height: 100vh;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 