<form [formGroup]="this.recordForm" (ngSubmit)="submitted=true; this.saveRecord();">
    <div class="form-container">
        <div class="grid">
            <div class="col-12">
            <p-card>
                <div class="card p-fluid">
               
                    <p-toolbar styleClass="">
                        <ng-template pTemplate="left">
                            <h3 class="mb-0" id="PersonalAccidentFormRecordName">{{this.recordSingularName}}</h3>
                        </ng-template>
                        <ng-template pTemplate="right">
                            <button id="PersonalAccidentForm_SaveButton" type="submit" pButton pRipple label="Save" icon="pi pi-check"
                                class="p-button-success mr-2"></button>
                            <button id="PersonalAccidentForm_CancelButton" pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-danger mr-2 pr-3"
                                (click)="this.onCancel()"></button>
                        </ng-template>
                    </p-toolbar>
                </div>
            </p-card>
            </div>
            <div class="col-6">
                <p-card>

                <div class="card p-fluid">
                    <div class="field">
                        <label id="PersonalAccidentForm_QuoteIdLabel" for="quoteId" >Quote Id</label>
                        <p-autoComplete id="PersonalAccidentForm_QuoteId" [dropdown]="true" field="label" formControlName="quoteId" [suggestions]="this.optionsQuotes" (completeMethod)="this.searchOptionsQuotes($event)" [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.controls['quoteId']?.valid}"></p-autoComplete>
                        <small id="PersonalAccidentForm_QuoteId_ValidationError" class="ng-dirty ng-invalid" *ngIf="submitted && recordForm.controls['quoteId']?.errors?.required">Quote ID is required.</small>
                    </div>
                    <div class="field">
                        <label id="PersonalAccidentForm_NameLabel" for="name">Name </label>
                        <input id="PersonalAccidentForm_Name" class="form-control" type="text" pInputText id="name" formControlName="name" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.value['name']}" />
                        <small id="PersonalAccidentForm_Name_ValidationError" class="ng-dirty ng-invalid" *ngIf="submitted && !recordForm.value['name']">name
                            required.</small>
                    </div>
                    
                    <div class="field">
                        <label id="PersonalAccidentForm_SpouseNameLabel" for="spouseName">Spouse Name</label>
                        <input id="PersonalAccidentForm_SpouseName" class="form-control" type="text" pInputText id="spouseName" formControlName="spouseName" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.value['spouseName']}" />
                        <small id="PersonalAccidentForm_SpouseName_ValidationError" class="ng-dirty ng-invalid" *ngIf="submitted && !recordForm.value['spouseName']">spouseName is
                            required.</small>
                    </div>
                    <div class="field">
                        <label id="PersonalAccidentForm_ProposerAgeLabel" for="proposerAge">Proposer Age</label>
                        <input id="PersonalAccidentForm_ProposerAge"  class="form-control" type="text" pInputText id="proposerAge" formControlName="proposerAge" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.value['proposerAge']}" />
                        <small id="PersonalAccidentForm_ProposerAge_ValidationError" class="ng-dirty ng-invalid" *ngIf="submitted && !recordForm.value['proposerAge']">proposerAge is
                            required.</small>
                    </div>
                    <div class="field">
                        <label id="PersonalAccidentForm_SpouseAgeLabel" for="spouseAge">Spouse Age</label>
                        <input id="PersonalAccidentForm_SpouseAge"  class="form-control" type="text" pInputText id="spouseAge" formControlName="spouseAge" required  autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && !recordForm.value['spouseAge']}" />
                        <small id="PersonalAccidentForm_SpouseAge_ValidationError" class="ng-dirty ng-invalid" *ngIf="submitted && !recordForm.value['spouseAge']">spouseAge is
                            required.</small>
                    </div>

                </div>
            </p-card>
            </div>
        </div>
    </div>
</form>

