.custom-dropdown,
.p-inputNumber,
.p-inputtext1 {
  height: 100%; /* Set the height as needed */
}

tr {
  align-items: center;
  justify-content: space-between;
}

.cardCustom {
  width: 500px;
  height: 300px;
  perspective: 1000px; /* Set the perspective for 3D effect */
  position: relative;
}

.cardCustom-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.cardCustom.flipped .cardCustom-inner {
  transform: rotateY(180deg); /* Rotate the card to show the back side on hover */
}

.cardCustom-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* Hide the back face when rotating */
  // display: flex;
  // justify-content: center;
  // align-items: center;
  font-size: 24px;
  // border: 1px solid #ccc;
}

.front {
  background-color: #4CAF50;
}

.back {
 background-color: white;
  transform: rotateY(180deg); /* Initially hide the back face by rotating 180 degrees */
}

.p-component {
  height: 34px !important;
   ;
}

.cardCustom-face {
  position: relative;
  padding-bottom: 50px; /* Space for the button */
}

.cardCustom-face .p-button-danger {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 1rem;
}

.p-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.separator {
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: black;
  margin-right: 10px;
}
// .rectangle-box {
//     display: inline-block;
//     border: 1px solid black; 
//     padding: 2px 5px; 
//     border-radius: 5px;
// }
:host ::ng-deep .p-fileupload .p-fileupload-content {
  padding: 1rem 1rem;
}

:host ::ng-deep .p-button .p-button-icon-left {
  margin-left: 10px !important;
}

:host ::ng-deep p-button.p-element.ng-star-inserted {
  display: none;
}

.button-container {
  align-items: center; 
}
.view-link {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 1rem;
}

.p-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}