<div>
    <div class="top-head-details">
        <div class="grid px-3 align-items-center">
            <div class="col-6" >
                <div class="flex align-items-center" data-aos="fade-right">
                    <!-- <a *ngIf="!this.isProposalVerified" class="btn-outline-blue mr-5 px-3 py-1" pbutton routerLink="../" id="RequisitionReview_goToBack"><i class="pi pi-chevron-left"></i> Back</a>
                    <h2 class="m-0" id="RequisitionReview_Header"> Review Quote Details <span *ngIf="this.isProposalVerified"> - Proposal Verified</span></h2> -->
                    <a class="btn-outline-blue mr-5 px-3 py-1" pbutton (click)="navigateBack()"
                    id="RequisitionReview_goToBack"><i class="pi pi-chevron-left"></i>Back</a>
                </div>
            </div>
                <div class="col-6 text-right align-items-center" >
                <a target="_self"  id="RequisitionReview_PrintQuoteSlip" (click)="printpdf()" class="btn-sm btn btn-outline-success mr-2"><i class="pi pi-print"></i>Print</a>
        </div>
    </div>
    <div class="">
   
            <div class="fist-img bg-primary-200">
                <img class="img" style="width: 100%;" src="..\assets\moodyapi\moodyspage.jpg" alt="">
            </div>
            <div class="fist-img bg-primary-200">
                <img class="img" style="width: 90%;" src="..\assets\moodyapi\moodyschart.jpg" alt="">
            </div>
            <div class="fist-img bg-primary-200">
                <img class="img" style="width: 90%;" src="..\assets\moodyapi\mapcoverage.jpg" alt="">
            </div>
        <div class="detail">
    <div class="grid">
        <div class="col-10">
            <div class="head  mx-2">
                <h2 id="SideBar_header">DETAILS OF THE QUOTE</h2>
            </div>
            <h4 class="mb-2 mt-3  mx-2" id="SideBar_Insured_Name"><span class="clr-blue">Insured Name:</span>
                {{this.quotedetails?.clientId?.name}}</h4>
            <h4 class="mb-2  mx-2" id="SideBar_policy_Type"><span class="clr-blue">Policy Type:</span>
                {{this.quotedetails?.productId?.type}}
            </h4>
            <div *ngIf="this.quotedetails && this.quote?.productId['productTemplate'] != AllowedProductTemplate.LIABILITY && this.quote?.productId['productTemplate'] != AllowedProductTemplate.LIABILITY_EANDO && this.quote?.productId['productTemplate'] != AllowedProductTemplate.LIABILITY_CRIME && this.quote?.productId['productTemplate'] != AllowedProductTemplate.LIABILITY_CGL && this.quote?.productId['productTemplate'] != AllowedProductTemplate.LIABILITY_PUBLIC && this.quote?.productId['productTemplate'] != AllowedProductTemplate.LIABILITY_PRODUCT &&  this.quote?.productId['productTemplate'] != AllowedProductTemplate.GMC && this.quote?.productId['productTemplate'] != AllowedProductTemplate.MARINE && this.quote?.productId['productTemplate'] != AllowedProductTemplate.WORKMENSCOMPENSATION && this.quote?.productId['productTemplate'] != AllowedProductTemplate.LIABILITY_CYBER">
                <h4 class="mb-2  mx-2" id="SideBar_Location_Name"><span class="clr-blue">Location:</span>
                    {{this.quotedetails.locationBasedCovers.quoteLocationOccupancy.locationName.split(',')[0]}}
                    {{this.quotedetails.locationBasedCovers.quoteLocationOccupancy.clientLocationId['isHeadOffice']? '(Head Office)' : ''}}
                </h4>
                <h4 class="mb-2  mx-2" id="SideBar_Location_Name"><span class="clr-blue">Occupancy:</span>
                    {{this.quotedetails.locationBasedCovers.quoteLocationOccupancy.occupancyId['occupancyType']?.split(',')[0]}}
                </h4>
                <h4 class="mb-2  mx-2" id="SideBar_Location_Name" *ngIf="this.quote?.productId['isOccupancySubTypeShow']"><span class="clr-blue">Type Of Shop
                <span *ngIf="this.quotedetails.locationBasedCovers?.quoteLocationOccupancy?.occupancySubTypeId?.shopName=='Others'">
                            <i class="pi pi-circle-fill" style="font-size: 0.75rem ;color :red"></i>
                        </span> : </span>
                    {{this.quotedetails.locationBasedCovers?.quoteLocationOccupancy?.occupancySubTypeId?.shopName}}
                    {{this.quotedetails?.locationBasedCovers?.quoteLocationOccupancy['typeOfShopDescription'] ?'('+this.quotedetails?.locationBasedCovers?.quoteLocationOccupancy['typeOfShopDescription'] +')' : ''}}</h4>
            </div>
        </div>
    </div>
</div>
            <br>
            <div class="space"></div>
            <div class="fist-img-table bg-primary-200">
                <img class="img" src="..\assets\moodyapi\japanearth.jpg" alt="">
                <div class="static">
                    <div class="heading w-4 mx-2">
                        <h1>Location - Earthquake</h1>
                    </div>
                    <div class="static-tablee" style="margin-top: 20%;">
                        <table border="1" class="centered-table">
                            <tr>
                                <th colspan="2">Example Location</th>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>{{this.quotedetails.locationBasedCovers.quoteLocationOccupancy.locationName}}</td>
                            </tr>
                            <tr>
                                <td>Latitude</td>
                                <td>{{  this.adddress['Latitude'] }}</td>
                            </tr>
                            <tr>
                                <td>Longitude</td>
                                <td>{{ this.adddress['Longitude']}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="space"></div>
            <div class="fist-img-table bg-primary-200">
                <img class="img" src="..\assets\moodyapi\risk.jpg" alt="">
                <div class="static">
                    <div class="heading w-4 mx-2">
                        <h1>Risk Scores - Earthquake</h1>
                    </div>
                    <div class="earthquake">
                        <div class="row">
                            <div class="col-3">
                                <div class="static-tablee" style="margin-top: 40%;">
                                    <div class="static-tablee" style="margin-top: 40%;">
                                        <table border="1">
                                            <thead>
                                              <tr>
                                                <th>Category</th>
                                                <th>Field</th>
                                                <th>Value</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <!-- API Input Category -->
                                              <tr>
                                                <td rowspan="4">API Input</td>
                                                <td>Latitude</td>
                                                <td>{{  this.adddress['Latitude'] }}</td>
                                              </tr>
                                              <tr>
                                                <td>Longitude</td>
                                                <td>{{ this.adddress['Longitude']}}</td>
                                              </tr>
                                              <tr>
                                                <td>Country Code</td>
                                                <td>IN</td>
                                              </tr>
                                              <tr>
                                                <td>Occupancy</td>
                                                <td>{{this.quotedetails.locationBasedCovers.quoteLocationOccupancy.occupancyId['occupancyType']?.split(',')[0]}}
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                      </div>
                                  </div>
                            </div>
                            <div class="col-4">
                                <div class=" mt-3">
                                    <table class="static-tablee">
                                        <tr>
                                            <th>RiskScore</th>
                                            <th>Expected Damage Ratio</th>
                                        </tr>
                                        <tr *ngFor="let item of ExpectedDamageRatio">
                                            <td>{{ item.riskScore }}</td>
                                            <td>{{ item.ratio }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mt-3" *ngIf="earthquakeRiskScore">
                                    <table class="static-tablee" style="margin-top: 40%;">
                                        <tr>   
                                            <th>Category</th>
                                            <th>RP</th>
                                            <th>RiskScore</th>
                                        </tr>
                                        <tr>
                                            <td rowspan="4">API Output</td>
                                            <td>100-yr</td>
                                            <td>{{ earthquakeRiskScore?.score100yr ?? '-' }}</td>
                                        </tr>
                                        <tr>
                                            <td>250-yr</td>
                                            <td>{{ earthquakeRiskScore?.score250yr ?? '-' }}</td>
                                        </tr>
                                        <tr>
                                            <td>500-yr</td>
                                            <td>{{ earthquakeRiskScore?.score500yr ?? '-' }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div class="heading mx-2">
                            <h1>Loss Costs - Earthquake</h1>
                        </div>
                        <div class="row">
                        <div class="col-4">
                            <div  class="static-tablee">
                                <table border="1">
                                  <tr>
                                    <th colspan="2">API Input</th>
                                  </tr>
                                  <tr>
                                    <td>Latitude</td>
                                    <td>{{  this.adddress['Latitude'] }}</td>
                                  </tr>
                                  <tr>
                                    <td>Longitude</td>
                                    <td>{{ this.adddress['Longitude']}}</td>
                                  </tr>
                                  <tr>
                                    <td>Country Code</td>
                                    <td>{{ apiInput.countryCode }}</td>
                                  </tr>
                                  <tr>
                                    <td>Occupancy</td>
                                    <td>{{this.quotedetails.locationBasedCovers.quoteLocationOccupancy.occupancyId['occupancyType']?.split(',')[0]}}
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>Building TIV</td>
                                    <td>{{ apiInput.buildingTIV }}</td>
                                  </tr>
                                  <tr>
                                    <td>Contents TIV</td>
                                    <td>{{ apiInput.contentsTIV }}</td>
                                  </tr>
                                  <tr>
                                    <td>BI TIV</td>
                                    <td>{{ apiInput.biTIV }}</td>
                                  </tr>
                                </table>
                              </div>
                        </div>
                        <div class="col-6">
                                <table class="static-tablee" style="margin-top: 25%;">
                                    <tr>
                                        <th>Average Annual Loss</th>
                                        <th>INR {{earthquakeLossCosts?.groundUpLoss ?? '0'}}</th>
                                    </tr>
                                </table>
                            </div>
                      
                    </div>
                    </div>
                </div>
            </div>
            

            <!-- <div class="fist-img-table">
                <img class="img" src="..\assets\moodyapi\risk.jpg" alt="">
                <div class="static">
              
                </div>
            </div> -->

            <!-- <div class="tblz01-pdf w-4 mt-3" *ngIf="earthquakeLossCosts">
                <h4 class="mb-2">Loss Costs - Earthquake</h4>
                <table class="static-tablee">
                    <tr>
                        <th>Average Annual Loss</th>
                        <th>INR {{earthquakeLossCosts?.groundUpLoss ?? '0'}}</th>
                    </tr>
                </table>
            </div> -->


            <br>
            <div class="space1"></div>
            <div class="fist-img-table bg-primary-200">
                <img class="img" src="..\assets\moodyapi\flood.jpg" alt="">
                <div class="static">
                    <div class="heading w-4 mx-2">
                        <h1>Location - Flood</h1>
                    </div>
                    <div class="static-tablee" style="margin-top: 20%;">
                        <table border="1" class="centered-table">
                            <tr>
                                <th colspan="2">Example Location</th>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>{{this.quotedetails.locationBasedCovers.quoteLocationOccupancy.locationName}}</td>
                            </tr>
                            <tr>
                                <td>Latitude</td>
                                <td>{{  this.adddress['Latitude'] }}</td>
                            </tr>
                            <tr>
                                <td>Longitude</td>
                                <td>{{ this.adddress['Longitude']}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="fist-img-table">
                <img class="img" src="..\assets\moodyapi\flooded.jpg" alt="">
                <div class="static">
                    <div class="heading w-4 mx-2">
                        <h1 >Risk Scores - Flood</h1>
                    </div>
                    <div class="earthquake">
                    <div class="row">
                        <div class="col-3">
                            <div class="static-tablee" style="margin-top: 40%;">
                                <div class="static-tablee" style="margin-top: 40%;">
                                    <table border="1">
                                        <thead>
                                          <tr>
                                            <th>Category</th>
                                            <th>Field</th>
                                            <th>Value</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <!-- API Input Category -->
                                          <tr>
                                            <td rowspan="4">API Input</td>
                                            <td>Latitude</td>
                                            <td>{{  this.adddress['Latitude'] }}</td>
                                          </tr>
                                          <tr>
                                            <td>Longitude</td>
                                            <td>{{ this.adddress['Longitude']}}</td>
                                          </tr>
                                          <tr>
                                            <td>Country Code</td>
                                            <td>IN</td>
                                          </tr>
                                          <tr>
                                            <td>Occupancy</td>
                                            <td>{{this.quotedetails.locationBasedCovers.quoteLocationOccupancy.occupancyId['occupancyType']?.split(',')[0]}}
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                  </div>
                              </div>
                        </div>
                        <div class="col-3">
                            <div class=" mt-3">
                                <table class="static-tablee">
                                    <tr>
                                        <th>RiskScore</th>
                                        <th>Expected Damage Ratio</th>
                                    </tr>
                                    <tr *ngFor="let item of ExpectedDamageRatio">
                                        <td>{{ item.riskScore }}</td>
                                        <td>{{ item.ratio }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mt-3" *ngIf="FloodRiskScore">
                                <table class="static-tablee" style="margin-top: 40%;">
                                    <tr>   
                                        <th>Category</th>
                                        <th>RP</th>
                                      <th> RiskScore </th>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">API Output</td>
                                        <td>100-yr</td>
                                        <td>{{FloodRiskScore?.score100yr ?? '-'}}</td>
                                    </tr>
                                    <tr>
                                        <td>250-yr</td>
                                        <td>{{FloodRiskScore?.score250yr ?? '-'}}</td>
                                    </tr>
                                    <tr>
                                        <td>500-yr</td>
                                        <td>{{FloodRiskScore?.score500yr ?? '-'}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <br>
                    <hr>
                    <div class="heading w-4 mx-2">
                        <h1>Loss Costs - Flood</h1>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div  class="static-tablee">
                                <table border="1">
                                  <tr>
                                    <th colspan="2">API Input</th>
                                  </tr>
                                  <tr>
                                    <td>Latitude</td>
                                    <td>{{  this.adddress['Latitude'] }}</td>
                                  </tr>
                                  <tr>
                                    <td>Longitude</td>
                                    <td>{{ this.adddress['Longitude']}}</td>
                                  </tr>
                                  <tr>
                                    <td>Country Code</td>
                                    <td>{{ apiInput.countryCode }}</td>
                                  </tr>
                                  <tr>
                                    <td>Occupancy</td>
                                    <td>{{this.quotedetails.locationBasedCovers.quoteLocationOccupancy.occupancyId['occupancyType']?.split(',')[0]}}
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>Building TIV</td>
                                    <td>{{ apiInput.buildingTIV }}</td>
                                  </tr>
                                  <tr>
                                    <td>Contents TIV</td>
                                    <td>{{ apiInput.contentsTIV }}</td>
                                  </tr>
                                  <tr>
                                    <td>BI TIV</td>
                                    <td>{{ apiInput.biTIV }}</td>
                                  </tr>
                                </table>
                              </div>
                        </div>

                        <div class="col-6">
                            <table class="static-tablee" style="margin-top: 25%;">
                                <tr>
                                    <th>Average Annual Loss</th>
                                    <th>INR {{FloodLossCosts?.groundUpLoss ?? '0'}}</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
   
    <script>    
        window.document.print();
    </script>
</div>